//-----[ CONFIGURATION ]------------------------------------*/

- var production   = true 		//- Load minified scripts and styles
- var demoMode     = true 		//- Enable Style Switcher

//- DESIGN ELEMENTS & VISUAL EFFECTS

- var flexSlider  = false  		//- Enable FlexSlider
- var owlSlider   = false 		//- Enable OWL Slider (used on Home Page & One Pager)
- var lightbox 	  = false 		//- Enable Image LightBox on click
- var beforeAfter = false 		//- Enable Before-After Image Compare plugin
- var twitterFeed = false 		//- Enable Twitter feed
- var googleMaps  = false 		//- Enable Google Maps
- var isotope 	  = false 		//- Enable Isotope Plugin
- var ajaxLoader  = false 		//- Enable Ajax Loader scripts (used in Team Members)
- var doubleHelix = false 		//- Enable the DNA Helix effect (used on Portfolio page)
- var newsletter  = false 		//- Enable Newsletter functionality
- var parallax 	  = false 		//- Enable Parallax Effect (used on Home Page, Services & About Us -Head Panel section-)
- var easing 	  = false 		//- Extend jQuery's Easing options
- var wowAnimation = true 		//- Enable WOW Animation Script and Animate.css Library

//-------------------------------------[ CONFIGURATION ]----*/