//-====================================
//- CONFIG: ALWAYS INCLUDE
include config
//- CONFIG-OVERRIDES: Per-page Settings
- var doubleHelix = true
- var isotope     = true
- var lightbox    = true
//-====================================

doctype html
html(lang="en")
  head
    block variables
      - var title = "Design Elements"
    include templates/head
  body.sticky_header
    .overflow_wrapper
      include templates/header-with-topbar
      .main
        section.dark_section
          .container
            .row
              .col-md-12
                .section_header
                  h2 Design Elements Styling Playground!
                  p Click on the <i class="fa fa-wrench"></i> icon on your right and visualize the potential of the section classes. Have Fun!
        section.instant
          .container
            .row
              .col-md-12.section_header.fancy.centered 
                  h2 The .entry element
                  p May have a photo or an icon, and a title. It accepts all color schemes and can be shaped in different ratios     
            .row
              .col-md-3.col-sm-3.col-xs-6
                .entry.skincolored_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-001.jpg);')
                    .entry_text skincolored 15:9
              .col-md-3.col-sm-3.col-xs-6
                .entry.secondary_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_2-1(style='background-image:url(./assets/images/entry-002.jpg);')
                    .entry_text secondary 2:1 
              .col-md-3.col-sm-3.col-xs-6
                .entry.dark_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_16-9
                      i.icon-i-cardiology
                    .entry_text 
                      h4 h4 dark icon 16:9
              .col-md-3.col-sm-3.col-xs-6
                .entry.black_section
                  a(href='#')
                    .entry_photo
                      i.icon-i-respiratory
                    .entry_text black icon default
        section.instant
          .container
            .row
              .col-md-12.section_header.fancy.centered 
                  h2 The .teaser_box element
                  p May have a photo or an icon, a title, a subtitle, a description and a link button. It accepts all color schemes and can be shaped in different ratios     
            .row
              .col-sm-6.col-md-3
                .teaser_box.centered.white_section
                  .figure.boxed.skincolored_section
                    a(href="#")
                      i.icon-i-internal-medicine
                  .content
                    .hgroup
                      h4 Service One
                    .desc        
                      p.
                        Centered with white background and Icon
                    .link
                      a.btn.btn-sm.btn-primary(href="services.html") <strong>MORE</strong>    
              .col-sm-6.col-md-3.boxed.black_section.transparent.transparent-film.centered
                .teaser_box
                  .figure
                    a(href="#")
                      img(src='./assets/images/strive-lungs.png', alt="medical-icon", height="100")
                  .content
                    .hgroup
                      h4 Service Two
                      p subtitle
                    .desc        
                      p.
                        Centered with white background and Icon
              .col-sm-6.col-md-3
                .team_member.teaser_box.secondary_section
                  a.figure(href="#", style='background-image: url("./assets/images/doctor-001.jpg")').stretchy-wrapper.ratio_4-3
                  .content
                    .hgroup
                      h4 Team member
                      p subtitle
                    .desc
                      p.
                        4:3 ratio for the photo. Left aligned by default, secondary color background. HOVER Please...
                  .team_social
                    a(href='mailto:'): i.fa.fa-envelope
                    a(href='callto:#'): i.fa.fa-skype
                    a(href='#'): i.fa.fa-facebook
                    a(href='#'): i.fa.fa-google-plus
              .col-sm-6.col-md-3
                .teaser_box.centered.white_section.boxed.boxed-special
                  .figure
                    a(href="#")
                      img(src='./assets/images/strive-test.png', alt="medical-icon", height="100")
                  .content
                    .hgroup
                      h4 Boxed Special
                    .desc
                      p.
                        Big and impressive Photography is an essential part of this design's success. Custom Post types too!
        section.black_section.instant.centered#masked_heading
          .container
            .row
              .col-md-12
                .masked_heading(style='background-image:url(./assets/images/slider-12.jpg);')
                  h2 Awesome <small>Masked Heading Element</small>                                          
        section.instant
          .container
            .row
              .col-md-12.section_header.fancy.centered 
                  h2 The .department element
                  p Has a photo and a title with an icon. It accepts all color schemes and can be shaped in different ratios     
            .row
              .col-md-3.col-sm-3.col-xs-6
                .department
                  h4.skincolored_section
                    i.fa.fa-heart
                    a(href='#') Cardiology 1:1
                  a.department_photo(href='#', style='background-image:url(./assets/images/entry-001.jpg)').stretchy-wrapper.ratio_1-1
              .col-md-3.col-sm-3.col-xs-6
                .department
                  h4.black_section.transparent.transparent-film
                    i.fa.fa-eye.black_section
                    a(href='#') Opthalmology 4:3
                  a.department_photo(href='#', style='background-image:url(./assets/images/entry-005.jpg)').stretchy-wrapper.ratio_4-3
              .col-md-3.col-sm-3.col-xs-6
                .department
                  h4.secondary_section.transparent.transparent-film
                    i.fa.fa-child
                    a(href='#') Pediatrics 16:9
                  a.department_photo(href='#', style='background-image:url(./assets/images/pricing-002.jpg)').stretchy-wrapper.ratio_16-9
              .col-md-3.col-sm-3.col-xs-6
                .department
                  h4.white_section.transparent.transparent-film
                    i.fa.fa-stethoscope.white_section
                    a(href='#') Radiology 2:1
                  a.department_photo(href='#', style='background-image:url(./assets/images/entry-004.jpg)').stretchy-wrapper.ratio_2-1
        section.instant
          .container
            .row
              .col-md-12.section_header.fancy.centered 
                  h2 The .pricing_plan element
                  p Has a photo, title &amp; subtitle, a price and a description. It accepts all color schemes and can be shaped in different ratios     
            .row
              // ====================== PRICE PLAN #1 ======================
              .col-md-4.col-sm-4
                .pricing_plan.white_section
                  .stretchy-wrapper.ratio_2-1
                    .pricing_plan_photo(style="background-image:url('./assets/images/pricing-002.jpg');")
                  .plan_title.secondary_section(style="background-image:url('./assets/images/GPlay.svg');")
                    h3 SINGLE
                    p 2:1 secondary price
                  .the_price
                    | $150
                    small /year
                  .the_offerings
                    p Affordable
                    p Preventive Care
                    p Diagnostic Tests
                    p Skilled Nursing Care 
                    a.btn.btn-primary.with-icon(href='#')
                      | Request Plan
                      i.fa.fa-caret-right
              // ====================== PRICE PLAN #2 ======================
              .col-md-4.col-sm-4
                .pricing_plan.white_section
                  .stretchy-wrapper.ratio_4-3
                    .pricing_plan_photo(style="background-image:url('./assets/images/pricing-004.jpg');")
                    .heart.beating
                      .heart-inner
                        .heart-label
                  .plan_title.dark_section
                    h3 FAMILY
                    p 4:3 and .heart.beating
                  .the_price
                    | $250
                    small /year
                  .the_offerings
                    p Emergency Care
                    p Diagnostic Tests
                    p Prescription Drugs
                    p Habilitation services 
                    a.btn.btn-secondary.with-icon(href='#')
                      | Request Plan
                      i.fa.fa-caret-right
              // ====================== PRICE PLAN #3 ======================
              .col-md-4.col-sm-4
                .pricing_plan.white_section
                  //.stretchy-wrapper.ratio_16-9
                    .pricing_plan_photo(style="background-image:url('./assets/images/pricing-003.jpg');")
                  .plan_title.black_section(style="background-image:url('./assets/images/GPlay.svg');")
                    h3 PREMIUM
                    p No Photo
                  .the_price
                    | $350
                    small /year
                  .the_offerings
                    p Practitioner Visits
                    p Imaging Tests (PET/MRI)
                    p Specialist Visits
                    p Specialty Drugs
                    a.btn.btn-success.with-icon(href='#')
                      | Request Plan
                      i.fa.fa-caret-right
        section.instant
          .container
            .row
              .col-md-12.section_header.fancy.centered 
                  h2 Buttons
                  p Many colors and Icons too!
            .row
              .col-md-12.centered
                a.btn.btn-default(href='#') Default
                span &nbsp;
                a.btn.btn-primary(href='#') Primary
                span &nbsp;
                a.btn.btn-secondary(href='#') Secondary
                span &nbsp;
                a.btn.btn-white(href='#') White
                span &nbsp;
                a.btn.btn-success(href='#') Success
                span &nbsp;
                a.btn.btn-info(href='#') Info
                span &nbsp;
                a.btn.btn-warning(href='#') Warning
                span &nbsp;
                a.btn.btn-danger(href='#') Danger
            .row.margin_top
              .col-md-12.centered
                a.btn.btn-default.with-icon(href='#')
                  | Default with icon
                  i.fa.fa-caret-right
                span &nbsp;    
                a.btn.btn-primary.with-icon.icon-left(href='#')
                  | Primary with icon left
                  i.fa.fa-clock-o
   
        section.instant
          .container
            .row
              .col-md-12.section_header.fancy.centered 
                  h2 Knowledge Base
            .row               
              include templates/knowledgebase
        section.skincolored_section.transparent-film.instant(style='background-image:url(./assets/images/slider-1.jpg);')
          .container
            .row
              include templates/photo-divider
        section.instant
          .container
            .row
              .col-md-12.section_header.fancy.centered
                h2 Filterable Media Grid
                p Place your YouTube/Vimeo/Dailymotion videos, Images and Links to Pages.
              .col-md-12
                
                // ======================= PORTFOLIO ======================

                .portfolio_grid
                  ul#filt_medicus.portfolio_filters
                    li
                      a.active(href='#', data-filter='*') Show All
                    li
                      a(href='#', data-filter='.images') Images
                    li
                      a(href='#', data-filter='.videos') Videos
                    li
                      a(href='#', data-filter='.pages') External Pages  
                  #cont_medicus.row.isotope_portfolio_container.isotope

                    // ================= PORTFOLIO ITEM #1 (Image) ================

                    .images.col-xs-12.col-sm-6.col-md-6
                      .portfolio_item.stretchy-wrapper.ratio_2-1
                        a.lightbox_gallery(href='./assets/images/video-007.jpg')
                          .figure(style='background-image:url(./assets/images/video-007.jpg)')
                          .portfolio_title.skincolored_section 
                            h3 
                              i.fa.fa-image
                              |  Dietary Advice  
                          .portfolio_description.skincolored_section.degrade
                            p Health care (or healthcare) is the diagnosis, treatment, and prevention of disease, illness, injury, and other physical and mental impairments in human beings.
                          

                    // ================= PORTFOLIO ITEM #2 (YouTube video) ================

                    .videos.col-xs-12.col-sm-6.col-md-6
                      .portfolio_item.stretchy-wrapper.ratio_12-5
                        a.lightbox_gallery(href='https://www.youtube.com/watch?v=30uTT3SsPzA')
                          .figure(style='background-image:url(./assets/images/video-001.jpg)')
                          .portfolio_title.secondary_section 
                            h3 
                              i.fa.fa-youtube
                              |  Practitioners' Advice  
                          .portfolio_description.secondary_section.transparent.transparent-film
                            p The practice of medicine entails more than just good communication, but good communication is essential to effective practice.

                    // ================= PORTFOLIO ITEM #3 (Vimeo video) ================

                    .videos.col-xs-12.col-sm-6.col-md-6
                      .portfolio_item.stretchy-wrapper.ratio_2-1
                        a.lightbox_gallery(href='https://vimeo.com/87309145')
                          .figure(style='background-image:url(./assets/images/video-003.jpg)')
                          .portfolio_title.dark_section 
                            h3 
                              i.fa.fa-vimeo-square
                              |  Meet our Veterinaries  
                          .portfolio_description.secondary_section.transparent.transparent-film
                            p Health care (or healthcare) is the diagnosis, treatment, and prevention of disease, illness, injury, and other physical and mental impairments in human beings.

                    // ================= PORTFOLIO ITEM #4 (DailyMotion video) ================

                    .videos.col-xs-12.col-sm-6.col-md-6
                      .portfolio_item.stretchy-wrapper.ratio_12-5
                        a.lightbox_gallery(href='http://www.dailymotion.com/video/x2gryoe_health-tips-and-benefits_people')
                          .figure(style='background-image:url(./assets/images/video-004.jpg)')
                          .portfolio_title.black_section 
                            h3 
                              i.fa.fa-youtube-play
                              |  Labs Walkthrough  
                          .portfolio_description.black_section.transparent.transparent-film
                            p The practice of medicine entails more than just good communication, but good communication is essential to effective practice.

                    // ================= PORTFOLIO ITEM #5 (External Link) ================

                    .pages.col-xs-12.col-sm-6.col-md-6
                      .portfolio_item.stretchy-wrapper.ratio_2-1
                        a(href='knowledgebase-article.html', target='_blank')
                          .figure(style='background-image:url(./assets/images/video-005.jpg)')
                          .portfolio_title.light_section 
                            h3 
                              i.fa.fa-heartbeat
                              |  Top Health Tips  
                          .portfolio_description.secondary_section.transparent.transparent-film
                            p Health care (or healthcare) is the diagnosis, treatment, and prevention of disease, illness, injury, and other physical and mental impairments in human beings.

                    // ================= PORTFOLIO ITEM #6 ================

                    .images.col-xs-12.col-sm-6.col-md-6
                      .portfolio_item.stretchy-wrapper.ratio_2-1
                        a.lightbox_gallery(href='./assets/images/video-002.jpg')
                          .figure(style='background-image:url(./assets/images/video-002.jpg)')
                          .portfolio_title.white_section 
                            h3 
                              i.fa.fa-image
                              |  Health Check 101
                          .portfolio_description.white_section.transparent.transparent-film
                            p A physical examination is a routine test your doctor performs to check your overall healths.


                // END==================== PORTFOLIO ======================
        
        section.instant
          .container
            .row
              .col-md-12
                .section_header.fancy.centered
                    h2  Image Post Element
                    p Blog posts list Variation  
                .row
                    .col-md-4.margin_bottom_grid

                        .pl_image_post.black_section.gradient-film-to-top.neutralize_links(style="background-image: url('./assets/images/spa/spa-figure-1.jpg')")
                            .stretchy-wrapper.ratio_1-1
                            a.pl_image_post_content.linkify(href="spa_blog_post.html")
                                .section_header.elegant
                                    h4 The Aroma therapy
                                    p 6 June 2015
                                .desc    
                                    p Massage involves working and acting on the body with pressure – structured, unstructured...

                    .col-md-4.margin_bottom_grid
                        
                        .pl_image_post.skincolored_section.gradient-film-to-top.neutralize_links(style="background-image: url('./assets/images/spa/spa-figure-2.jpg')")
                            .stretchy-wrapper.ratio_1-1
                            a.pl_image_post_content.linkify(href="spa_blog_post.html")
                                .section_header.elegant
                                    h4 Why spa is priceless
                                    p 5 June 2015
                                .desc    
                                    p Massage involves working and acting on the body with pressure – structured, unstructured...

                    .col-md-4
                        
                        .pl_image_post.secondary_section.transparent-film.neutralize_links(style="background-image: url('./assets/images/spa/spa-figure-3.jpg')")
                            .stretchy-wrapper.ratio_1-1
                            a.pl_image_post_content.linkify(href="spa_blog_post.html")
                                .section_header.elegant
                                    h4 Excelent salon
                                    p 4 June 2015
                                .desc    
                                    p Massage involves working and acting on the body with pressure – structured, unstructured...

        section.instant
          .container
            .row
              .col-md-12.centered
                .section_header.fancy
                    img(src='./assets/images/icon-tester-o.png', alt="medical-icon")
                    h3 
                      small Need Top Health Care?
                      | Call us now (600) 123-4567
                    p Top Quality Healthcare in your City
                    a.btn.btn-secondary.with-icon(href='health_plans.html')
                      | Request Plan
                      i.fa.fa-caret-right
      // FOOTER
      include templates/footer

    include templates/scripts