//- CONFIG: ALWAYS INCLUDE
include config
//- CONFIG-OVERRIDES: Per-page Settings
- var particles = true
//-====================================

doctype html
html(lang="en")
  head
    block variables
      - var title = "Design Elements"
    include templates/head
  body.sticky_header
    .overflow_wrapper
      include templates/header
      //- include templates/headpanel-svg-slider
      .main

        section.white_section.particles-js
          .container
            .row
              .col-md-12.section_header.fancy.centered 
                  h2 WHITE SECTION
                  p This is a showcase of the Particles Effect     
            .row

              .col-md-3.col-sm-3.col-xs-6
                .entry.skincolored_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-001.jpg);')
                    .entry_text IMAGE TITLE

              .col-md-3.col-sm-3.col-xs-6
                .entry.secondary_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-002.jpg);')
                    .entry_text IMAGE TITLE 

              .col-md-3.col-sm-3.col-xs-6
                .entry.skincolored_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-001.jpg);')
                    .entry_text IMAGE TITLE

              .col-md-3.col-sm-3.col-xs-6
                .entry.secondary_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-002.jpg);')
                    .entry_text IMAGE TITLE 

        section.skin_colored_section.particles-js
          .container
            .row
              .col-md-12.section_header.fancy.centered 
                  h2 SKIN COLORED SECTION
                  p This is a showcase of the Particles Effect     
            .row

              .col-md-3.col-sm-3.col-xs-6
                .entry.skincolored_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-001.jpg);')
                    .entry_text IMAGE TITLE

              .col-md-3.col-sm-3.col-xs-6
                .entry.secondary_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-002.jpg);')
                    .entry_text IMAGE TITLE 

              .col-md-3.col-sm-3.col-xs-6
                .entry.skincolored_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-001.jpg);')
                    .entry_text IMAGE TITLE

              .col-md-3.col-sm-3.col-xs-6
                .entry.secondary_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-002.jpg);')
                    .entry_text IMAGE TITLE 

        section.dark_section.particles-js
          .container
            .row
              .col-md-12.section_header.fancy.centered 
                  h2 DARK SECTION
                  p This is a showcase of the Particles Effect     
            .row

              .col-md-3.col-sm-3.col-xs-6
                .entry.skincolored_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-001.jpg);')
                    .entry_text IMAGE TITLE

              .col-md-3.col-sm-3.col-xs-6
                .entry.secondary_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-002.jpg);')
                    .entry_text IMAGE TITLE 

              .col-md-3.col-sm-3.col-xs-6
                .entry.skincolored_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-001.jpg);')
                    .entry_text IMAGE TITLE

              .col-md-3.col-sm-3.col-xs-6
                .entry.secondary_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-002.jpg);')
                    .entry_text IMAGE TITLE 

        section.secondary_section.particles-js
          .container
            .row
              .col-md-12.section_header.fancy.centered 
                  h2 SECONDARY SECTION
                  p This is a showcase of the Particles Effect     
            .row

              .col-md-3.col-sm-3.col-xs-6
                .entry.skincolored_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-001.jpg);')
                    .entry_text IMAGE TITLE

              .col-md-3.col-sm-3.col-xs-6
                .entry.secondary_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-002.jpg);')
                    .entry_text IMAGE TITLE 

              .col-md-3.col-sm-3.col-xs-6
                .entry.skincolored_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-001.jpg);')
                    .entry_text IMAGE TITLE

              .col-md-3.col-sm-3.col-xs-6
                .entry.secondary_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-002.jpg);')
                    .entry_text IMAGE TITLE 

        section.black_section.particles-js
          .container
            .row
              .col-md-12.section_header.fancy.centered 
                  h2 BLACK SECTION
                  p This is a showcase of the Particles Effect     
            .row

              .col-md-3.col-sm-3.col-xs-6
                .entry.skincolored_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-001.jpg);')
                    .entry_text IMAGE TITLE

              .col-md-3.col-sm-3.col-xs-6
                .entry.secondary_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-002.jpg);')
                    .entry_text IMAGE TITLE 

              .col-md-3.col-sm-3.col-xs-6
                .entry.skincolored_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-001.jpg);')
                    .entry_text IMAGE TITLE

              .col-md-3.col-sm-3.col-xs-6
                .entry.secondary_section
                  a(href='#')
                    .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-002.jpg);')
                    .entry_text IMAGE TITLE 

      // FOOTER
      include templates/footer
    include templates/scripts