section
  .container
    .row
      .col-lg-12
        .page-header
          h1 Buttons
      // ===================== LIST GROUPS ====================
      .col-md-12
      p.bs-component
        a.btn.btn-default(href='#') Default
        a.btn.btn-primary(href='#') Primary
        a.btn.btn-secondary(href='#') Secondary
        a.btn.btn-white(href='#') White
        a.btn.btn-success(href='#') Success
        a.btn.btn-info(href='#') Info
        a.btn.btn-warning(href='#') Warning
        a.btn.btn-danger(href='#') Danger
        a.btn.btn-link(href='#') Link
      p.bs-component
        a.btn.btn-default.disabled(href='#') Default
        a.btn.btn-primary.disabled(href='#') Primary
        a.btn.btn-success.disabled(href='#') Success
        a.btn.btn-info.disabled(href='#') Info
        a.btn.btn-warning.disabled(href='#') Warning
        a.btn.btn-danger.disabled(href='#') Danger
        a.btn.btn-link.disabled(href='#') Link
      div
        .btn-toolbar.bs-component
          .btn-group
            a.btn.btn-default(href='#') Default
            a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown')
              span.caret
            ul.dropdown-menu
              li
                a(href='#') Action
              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li.divider
              li
                a(href='#') Separated link
          .btn-group
            a.btn.btn-primary(href='#') Primary
            a.btn.btn-primary.dropdown-toggle(href='#', data-toggle='dropdown')
              span.caret
            ul.dropdown-menu
              li
                a(href='#') Action
              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li.divider
              li
                a(href='#') Separated link
          .btn-group
            a.btn.btn-success(href='#') Success
            a.btn.btn-success.dropdown-toggle(href='#', data-toggle='dropdown')
              span.caret
            ul.dropdown-menu
              li
                a(href='#') Action
              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li.divider
              li
                a(href='#') Separated link
          .btn-group
            a.btn.btn-info(href='#') Info
            a.btn.btn-info.dropdown-toggle(href='#', data-toggle='dropdown')
              span.caret
            ul.dropdown-menu
              li
                a(href='#') Action
              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li.divider
              li
                a(href='#') Separated link
          .btn-group
            a.btn.btn-warning(href='#') Warning
            a.btn.btn-warning.dropdown-toggle(href='#', data-toggle='dropdown')
              span.caret
            ul.dropdown-menu
              li
                a(href='#') Action
              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li.divider
              li
                a(href='#') Separated link
        p.bs-component
          a.btn.btn-primary.btn-lg(href='#') Large button
          a.btn.btn-primary(href='#') Default button
          a.btn.btn-primary.btn-sm(href='#') Small button
          a.btn.btn-primary.btn-xs(href='#') Mini button


      .col-lg-6
        p.bs-component
          a.btn.btn-default.btn-lg.btn-block(href='#') Block level button
        .bs-component
          .btn-group.btn-group-justified
            a.btn.btn-default(href='#') Left
            a.btn.btn-default(href='#') Middle
            a.btn.btn-default(href='#') Right
        .bs-component
          .btn-toolbar
            .btn-group
              a.btn.btn-default(href='#') 1
              a.btn.btn-default(href='#') 2
              a.btn.btn-default(href='#') 3
              a.btn.btn-default(href='#') 4
            .btn-group
              a.btn.btn-default(href='#') 5
              a.btn.btn-default(href='#') 6
              a.btn.btn-default(href='#') 7
            .btn-group
              a.btn.btn-default(href='#') 8
              .btn-group
                a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Dropdown
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Dropdown link
                  li
                    a(href='#') Dropdown link
                  li
                    a(href='#') Dropdown link
        .bs-component
          .btn-group-vertical
            a.btn.btn-default(href='#') Button
            a.btn.btn-default(href='#') Button
            a.btn.btn-default(href='#') Button
            a.btn.btn-default(href='#') Button
          #source-button.btn.btn-primary.btn-xs.hidden &lt; &gt;
