section
  .container
    .row
      .col-lg-12
        .page-header
          h1 Containers
      // ===================== LIST GROUPS ====================
      .col-lg-12
        h2 List groups
      .col-lg-4
        .bs-component
          ul.list-group
            li.list-group-item
              span.badge 14
              |                       Cras justo odio
            li.list-group-item
              span.badge 2
              |                       Dapibus ac facilisis in
            li.list-group-item
              span.badge 1
              |                       Morbi leo risus
      .col-lg-4
        .bs-component
          .list-group
            a.list-group-item.active(href='#')
              | Cras justo odio
            a.list-group-item(href='#')
              | Dapibus ac facilisis in
            a.list-group-item(href='#')
              | Morbi leo risus
      .col-lg-4
        .bs-component
          .list-group
            a.list-group-item.active(href='#')
              h4.list-group-item-heading List group item heading
              p.list-group-item-text
                | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
            a.list-group-item(href='#')
              h4.list-group-item-heading List group item heading
              p.list-group-item-text
                | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
            a.list-group-item(href='#')
              h4.list-group-item-heading List group item heading
              p.list-group-item-text
                | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
      // ===================== PANELS ====================
      .col-lg-12
        h2 Panels
      .col-lg-4
        .bs-component
          .panel.panel-default
            .panel-body
              | Basic panel
          .panel.panel-default
            .panel-heading Panel heading
            .panel-body
              | Panel content
          .panel.panel-default
            .panel-body
              | Panel content
            .panel-footer Panel footer
      .col-lg-4
        .bs-component
          .panel.panel-primary
            .panel-heading
              h3.panel-title Panel primary
            .panel-body
              | Panel content
          .panel.panel-success
            .panel-heading
              h3.panel-title Panel success
            .panel-body
              | Panel content
          .panel.panel-warning
            .panel-heading
              h3.panel-title Panel warning
            .panel-body
              | Panel content
      .col-lg-4
        .bs-component
          .panel.panel-danger
            .panel-heading
              h3.panel-title Panel danger
            .panel-body
              | Panel content
          .panel.panel-info
            .panel-heading
              h3.panel-title Panel info
            .panel-body
              | Panel content
      // ===================== WELLS ====================
      .col-lg-12
        h2 Wells
      .col-lg-4
        .bs-component
          .well
            | Look, I'm in a well!
      .col-lg-4
        .bs-component
          .well.well-sm
            | Look, I'm in a small well!
      .col-lg-4
        .bs-component
          .well.well-lg
            | Look, I'm in a large well!
