section
  .container
    .jumbotron
      h1 Bootstrap 3 elements page example template
      p
        | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
      p
        a.btn.btn-primary.btn-lg Learn more
