section
  .container
    .row
      .col-lg-12
        .page-header
          h1 Navs
      .col-lg-4
        h2#nav-tabs Tabs
        .bs-component
          ul.nav.nav-tabs
            li.active
              a(href='#home', data-toggle='tab') Home
            li
              a(href='#profile', data-toggle='tab') Profile
            li.disabled
              a Disabled
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                | Dropdown 
                span.caret
              ul.dropdown-menu
                li
                  a(href='#dropdown1', data-toggle='tab') Action
                li.divider
                li
                  a(href='#dropdown2', data-toggle='tab') Another action
          #myTabContent.tab-content
            #home.tab-pane.fade.active.in
              p
                | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
            #profile.tab-pane.fade
              p
                | Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.
            #dropdown1.tab-pane.fade
              p
                | Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.
            #dropdown2.tab-pane.fade
              p
                | Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.

      .col-lg-4
        h2#nav-pills Pills
        .bs-component
          ul.nav.nav-pills
            li.active
              a(href='#') Home
            li
              a(href='#') Profile
            li.disabled
              a(href='#') Disabled
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                | Dropdown 
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li
                  a(href='#') Separated link
        br
        .bs-component
          ul.nav.nav-pills.nav-stacked
            li.active
              a(href='#') Home
            li
              a(href='#') Profile
            li.disabled
              a(href='#') Disabled
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                | Dropdown 
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li
                  a(href='#') Separated link
