section
  .container
    .row
      .col-lg-12
        .page-header
          h1#type Typography
      // ===================== HEADINGS ====================
      .col-lg-4
        .bs-component
          h1 Heading 1
          h2 Heading 2
          h3 Heading 3
          h4 Heading 4
          h5 Heading 5
          h6 Heading 6
          p.lead Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      // ===================== EXAMPLE BODY TEXT ====================
      .col-lg-4
        .bs-component
          h2 Example body text
          p
            | Nullam quis risus eget 
            a(href='#') urna mollis ornare
            |  vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
          p
            small This line of text is meant to be treated as fine print.
          p
            | The following snippet of text is 
            strong rendered as bold text
            | .
          p
            | The following snippet of text is 
            em rendered as italicized text
            | .
          p
            | An abbreviation of the word attribute is 
            abbr(title='attribute') attr
            | .
      // ===================== EMPHASIS CLASSES ====================
      .col-lg-4
        .bs-component
          h2 Emphasis classes
          p.text-muted Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
          p.text-primary Nullam id dolor id nibh ultricies vehicula ut id elit.
          p.text-warning Etiam porta sem malesuada magna mollis euismod.
          p.text-danger Donec ullamcorper nulla non metus auctor fringilla.
          p.text-success Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
          p.text-info Maecenas sed diam eget risus varius blandit sit amet non magna.
    // ===================== BLOCKQUOTES ====================
    .row
      .col-lg-12
        .page-header
          h1#blockquotes Blockquotes
      .col-lg-6
        .bs-component
          blockquote
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            small
              | Someone famous in 
              cite(title='Source Title') Source Title
      .col-lg-6
        .bs-component
          blockquote.pull-right
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            small
              | Someone famous in 
              cite(title='Source Title') Source Title
