section
  .container
    .row
      .col-lg-12
        .page-header
          h1 Tables
      .col-lg-12
        .bs-component
          table.table.table-striped.table-hover
            thead
              tr
                th #
                th Column heading
                th Column heading
                th Column heading
            tbody
              tr
                td 1
                td Column content
                td Column content
                td Column content
              tr
                td 2
                td Column content
                td Column content
                td Column content
              tr.info
                td 3
                td Column content
                td Column content
                td Column content
              tr.success
                td 4
                td Column content
                td Column content
                td Column content
              tr.danger
                td 5
                td Column content
                td Column content
                td Column content
              tr.warning
                td 6
                td Column content
                td Column content
                td Column content
              tr.active
                td 7
                td Column content
                td Column content
                td Column content
        // /example
