
// ========================= CALL TO ACTION ========================

.section_header.fancy
    img(src='./assets/images/icon-tester-o.png', alt="image-desc")
    h3
      small Need Top Health Care?
      | Call now (600) 123-4567
    p Top Quality Healthcare in your City
    a.btn.btn-secondary.with-icon(href='health-plans.html')
      | Request Plan
      i.fa.fa-caret-right

// ========================= /CALL TO ACTION ========================
