
// =========================== CLIENTS ==========================
.col-md-12
  .clients_list
    a(href='#')
      img(src='./assets/images/client-001.png', alt='')
    a(href='#')
      img(src='./assets/images/client-002.png', alt='')
    a(href='#')
      img(src='./assets/images/client-003.png', alt='')
    a(href='#')
      img(src='./assets/images/client-004.png', alt='')
// END======================== CLIENTS ==========================
