// ========================= DEPARTMENTS WITH PHOTOS ========================

.col-md-3.col-sm-6.col-xs-6
  .department
    h4.secondary_section.transparent.transparent-film
      i.fa.fa-heart.secondary_section
      a(href='#') Cardiology
    a(href='#', style='background-image:url(./assets/images/entry-001.jpg)').department_photo.stretchy-wrapper.ratio_1-1

.col-md-3.col-sm-6.col-xs-6
  .department
    h4.secondary_section.transparent.transparent-film
      i.fa.fa-eye.secondary_section
      a(href='#') Hematology
    a(href='#', style='background-image:url(./assets/images/entry-005.jpg)').department_photo.stretchy-wrapper.ratio_1-1

.col-md-3.col-sm-6.col-xs-6
  .department
    h4.secondary_section.transparent.transparent-film
      i.fa.fa-child.secondary_section
      a(href='#') Physiotherapy
    a(href='#', style='background-image:url(./assets/images/pricing-002.jpg)').department_photo.stretchy-wrapper.ratio_1-1

.col-md-3.col-sm-6.col-xs-6
  .department
    h4.secondary_section.transparent.transparent-film
      i.fa.fa-stethoscope.secondary_section
      a(href='#') Radiology
    a(href='#', style='background-image:url(./assets/images/entry-004.jpg)').department_photo.stretchy-wrapper.ratio_1-1

// END====================== DEPARTMENTS WITH PHOTOS ========================
