
// ========================= ENTRY ========================

.col-md-3.col-sm-3.col-xs-6
  .entry.skincolored_section
    a(href='services.html')
      .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-001.jpg);')
      .entry_text EMERGENCY
.col-md-3.col-sm-3.col-xs-6
  .entry.secondary_section
    a(href='knowledgebase.html')
      .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-003.jpg);')
      .entry_text HEALTH LIBRARY
.col-md-3.col-sm-3.col-xs-6
  .entry.skincolored_section
    a(href='#contact_panel')
      .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-005.jpg);')
      .entry_text APPOINTMENT
.col-md-3.col-sm-3.col-xs-6
  .entry.secondary_section
    a(href='portfolio.html')
      .entry_photo.stretchy-wrapper.ratio_15-9(style='background-image:url(./assets/images/entry-002.jpg);')
      .entry_text LABORATORY

// END====================== ENTRY ========================
