
// =========================  ENTRY (FLAT) ========================

.col-md-3.col-sm-3
  .entry.skincolored_section
    a(href='#')
    
      .entry_photo.stretchy-wrapper.ratio_15-9
        i.icon-i-cardiology
      .entry_text 
        h3 Emergency
.col-md-3.col-sm-3
  .entry.skincolored_section
    a(href='#')
    
      .entry_photo.stretchy-wrapper.ratio_15-9
        i.icon-i-respiratory
      .entry_text Appointment
.col-md-3.col-sm-3
  .entry.skincolored_section
    a(href='#')
    
      .entry_photo.stretchy-wrapper.ratio_15-9
        i.icon-i-neurology
      .entry_text Examination
.col-md-3.col-sm-3
  .entry.skincolored_section
    a(href='#')
    
      .entry_photo.stretchy-wrapper.ratio_15-9
        i.icon-i-pathology
      .entry_text Laboratory

// END======================  ENTRY (FLAT) ========================
