
// =========================  ENTRY (FLAT) ========================

.col-md-3.col-sm-3.wow.slideInLeft.animated

  .entry.skincolored_section
    a(href='#services').scrollify    
      .entry_photo.stretchy-wrapper.ratio_15-9(style="background-image:url('./assets/images/fitness/services.jpg');")
      .entry_text 
        h4 Personalized Services

.col-md-3.col-sm-3.wow.slideInRight.animated

  .entry.secondary_section
    a(href='#testimonials').scrollify  
      .entry_photo.stretchy-wrapper.ratio_15-9(style="background-image:url('./assets/images/fitness/carots.jpg');")
      .entry_text 
        h4 Healthy Eating

.col-md-3.col-sm-3.wow.slideInRight.animated

  .entry.dark_section
    a(href='#fitness_plans').scrollify    
      .entry_photo.stretchy-wrapper.ratio_15-9(style="background-image:url('./assets/images/fitness/fitness_1.jpg');")
      .entry_text 
        h4 Fitness Plans

.col-md-3.col-sm-3.wow.slideInLeft.animated

  .entry.light_section
    a(href='#news').scrollify    
      .entry_photo.stretchy-wrapper.ratio_15-9(style="background-image:url('./assets/images/fitness/blog_1.jpg');")
      .entry_text 
        h4 Articles Blog

// END======================  ENTRY (FLAT) ========================
