
// ============================ TEAM MEMBERS ============================
.team_members_grid

  .col-sm-6.col-md-3
    .team_member.teaser_box.centered.same_height_col.secondary_section
      a.linkify(href="fitness_team_member.html", style='background-image: url("./assets/images/fitness/fitness_trainer_1.jpg")').figure.stretchy-wrapper.ratio_1-1
      .content
        .hgroup
          h4 Ben Folklore
          p Fitness Trainer
        .desc        
          p.
            Then all you have to do is setup and add it in a row with the Visual Builder.
        .link
          a.linkify.btn.btn-sm.btn-primary(href="fitness_team_member.html") VIA AJAX    
      .team_social
        a(href='mailto:'): i.fa.fa-envelope
        a(href='callto:#'): i.fa.fa-skype
        a(href='#'): i.fa.fa-facebook
        a(href='#'): i.fa.fa-google-plus


  .col-sm-6.col-md-3
    .team_member.teaser_box.centered.same_height_col.secondary_section
      a.linkify(href="fitness_team_member.html", style='background-image: url("./assets/images/fitness/Dietologist.jpg")').figure.stretchy-wrapper.ratio_1-1
      .content
        .hgroup
          h4 John Boycot
          p Dietologist
        .desc        
          p.
            Make sure you balance these text descriptions to maintain the strict visual rhythm of the grid.
        .link
          a.linkify.btn.btn-sm.btn-primary(href="fitness_team_member.html") VIA AJAX    
      .team_social
        a(href='mailto:'): i.fa.fa-envelope
        a(href='callto:#'): i.fa.fa-skype
        a(href='#'): i.fa.fa-facebook
        a(href='#'): i.fa.fa-google-plus

  .col-sm-6.col-md-3
    .team_member.teaser_box.centered.same_height_col.skincolored_section
      a(href="fitness_team_member", style='background-image: url("./assets/images/fitness/team-member-1.jpg")').figure.stretchy-wrapper.ratio_1-1
      .content
        .hgroup
          h4 Lisa Starborn
          p Fitness Trainer
        .desc        
          p.
            Big and impressive Photography is an essential part of this design's success. Custom Post types too!
        .link
          a(href="fitness_team_member.html").btn.btn-sm.btn-secondary MORE    
      .team_social
        a(href='mailto:'): i.fa.fa-envelope
        a(href='callto:#'): i.fa.fa-skype
        a(href='#'): i.fa.fa-facebook
        a(href='#'): i.fa.fa-google-plus

  .col-sm-6.col-md-3
    .team_member.teaser_box.centered.same_height_col.secondary_section
      a(href="fitness_team_member.html", style='background-image: url("./assets/images/fitness/physiotherapist.jpg")').figure.stretchy-wrapper.ratio_1-1
      .content
        .hgroup
          h4 Dany Stronghold
          p Physiotherapist
        .desc        
          p.
            So every Person of our team has its own custom-post that you can fill in with useful information. 
        .link
          a(href="fitness_team_member.html").btn.btn-sm.btn-primary MORE    
      .team_social
        a(href='mailto:'): i.fa.fa-envelope
        a(href='#'): i.fa.fa-youtube
        a(href='#'): i.fa.fa-twitter
        a(href='#'): i.fa.fa-facebook
        a(href='#'): i.fa.fa-pinterest

// END========================= TEAM MEMBERS ============================

