.head_panel

  // ============================ SLIDER ==========================

  .slider_wrapper
    .owl-carousel#head_panel_slider

        // ============================ SLIDE ==========================
        .stretchy-wrapper.ratio_slider
          .item(style='background-image: url(./assets/images/fitness/sports_diet_1.jpg);', aria-hidden='true')
            .container
              .caption.caption-fancy.caption-left
                .inner.black_section.transparent-film.animated.bounceInLeft
                  .t1.uppercase Shape UP!
                  .t2.uppercase Fitness Consulting
                  .t3.uppercase We are here to assist you
                  p.desc
                    | If you're tired of yo-yo dieting or unrealistic diets, why not put our nearly 10 years of weight loss experience to work for you?
                  p
                    a(href="#").btn.btn-secondary Learn more 

        // END========================= SLIDE ==========================
        .stretchy-wrapper.ratio_slider
          .item(style='background-image: url(./assets/images/fitness/slider_2.jpg);', aria-hidden='true')
            .container
              .caption.caption-left.caption-fancy
                .inner.black_section.transparent.transparent-film.animated.bounceInUp
                  .t1 HEALTH-X 
                  .t2.uppercase SPORTS NUTRITION
                  .t3.uppercase Do it the right way!
                  p.desc.hidden-xxs.
                    Navigate your way healthfully through grocery stores, restaurants, food courts, and even your own kitchen, with numerous food suggestions.
        // ============================ SLIDE ==========================

                 

        // END========================= SLIDE ==========================

        // ============================ SLIDE  ==========================

        .stretchy-wrapper.ratio_slider
          .item(style='background-image: url(./assets/images/fitness/slider_1.jpg);', aria-hidden='true')
            .container
              .caption.caption-left.caption-fancy
                .inner.black_section.transparent-film.animated.bounceInDown
                  .t1.uppercase Dietetics
                  .t2.uppercase Top Services
                  .t3.uppercase By a friendly team of professionals.
                  p.desc.
                    For two consecutive days each week you follow a calorie-controlled diet.
                    The rest of the week you will eat a healthy Mediterranean diet.

        // END========================= SLIDE ==========================           

  // END========================= SLIDER ==========================
