// ========================= DEPARTMENTS WITH PHOTOS ========================

.col-md-6
  .department
    h4.skincolored_section.transparent.transparent-film
      i.fa.fa-bicycle.secondary_section
      a(href='#') Sports Nutrition
    a(href='#', style='background-image:url(./assets/images/fitness/Sports_Nutrition.jpg)').department_photo.stretchy-wrapper.ratio_16-9

.col-md-6
  .department
    h4.skincolored_section.transparent.transparent-film
      i.fa.fa-child.secondary_section
      a(href='#') Post Pregnancy
    a(href='#', style='background-image:url(./assets/images/fitness/post_pregnancy.jpg)').department_photo.stretchy-wrapper.ratio_16-9

.col-md-6
  .department
    h4.skincolored_section.transparent.transparent-film
      i.fa.fa-heart.secondary_section
      a(href='#') Weight Loss
    a(href='#', style='background-image:url(./assets/images/FITNESS/weight_loss.jpg)').department_photo.stretchy-wrapper.ratio_16-9

.col-md-6
  .department
    h4.skincolored_section.transparent.transparent-film
      i.fa.fa-medkit.secondary_section
      a(href='#') Physiotherapy
    a(href='#', style='background-image:url(./assets/images/fitness/services_physiotherapy.jpg)').department_photo.stretchy-wrapper.ratio_16-9

.col-md-6
  .department
    h4.skincolored_section.transparent.transparent-film
      i.fa.fa-hotel.secondary_section
      a(href='#') Healing Massage
    a(href='#', style='background-image:url(./assets/images/FITNESS/massage.jpg)').department_photo.stretchy-wrapper.ratio_16-9

.col-md-6
  .department
    h4.skincolored_section.transparent.transparent-film
      i.fa.fa-leaf.secondary_section
      a(href='#') Guidance
    a(href='#', style='background-image:url(./assets/images/fitness/Comp_84901489.jpg)').department_photo.stretchy-wrapper.ratio_16-9    

// END====================== DEPARTMENTS WITH PHOTOS ========================
