// =========================== HEADER ==========================
.header
  .mainbar.black_section      
    .container
      .logo
        a.brand(href='fitness-one-pager.html')
          img(src='./assets/images/fitness/health-x-fitness-header-logo-x64.png', alt="logo")
        p HEALTH-X Onepager Variation
      .menu_container
        span.close_menu &times; 
        // ========================= NAVIGATION MENU ========================
        ul.main_menu.hover_menu
          li
            a(title='ABOUT US', href='#about_us') ABOUT US
          li
            a(title='Services', href='#services') Services  
          li
            a(title='HEALTH PLANS', href='#fitness_plans') Pricing PLANS
          li
            a(title='Team', href='#team') OUR TEAM  
          li
            a(title='articles', href='#news') Articles
          li
            a(title='CONTACT', href='#contact') CONTACT
          li.lihasdropdown.drop-mid
            a(title='more', href='#') More 
            ul.menu-dropdown 
              li
                a(title='Service details', href='./fitness_service_single.html') Service Details Single 
              li
                a(title='Blog Post', href='./fitness_blog_post.html') BLOG POST Single
              li
                a(title='Team Member', href='./fitness_team_member.html') Team Member Bio
              li
                a(title='All Demos', href='./all-demos.html') All Demos Page <span class="label label-success">New</span>   
              li
                a(title='Documentation', target='_blank', href='http://doc.plethorathemes.com/medicus-html/') DOCUMENTATION          
              li
                a(title='Support', target='_blank', href='http://plethorathemes.com/support/') <i class="fa fa-life-ring"></i> SUPPORT   
        // END====================== NAVIGATION MENU ========================
      label.mobile_collapser MENU  
      // =========================== SOCIAL ICONS =========================
      a.social_links(title='', href='#')
        i.fa.fa-share-alt
      .team_social
        a(href='#'): i.fa.fa-skype
        a(href='#'): i.fa.fa-facebook
        a(href='#'): i.fa.fa-twitter
        a(href='#'): i.fa.fa-linkedin
      // END======================== SOCIAL ICONS ========================= 
.brand-colors  
// END======================== HEADER ==========================