// =============================  KNOWLEDGEBASE =============================        
.knowledgebase
          .row
            .col-md-3.col-xs-6.same_height_col.centered
              h5 A
              ul
                li
                  a(href='knowledgebase-article.html', title="Apples", data-tip="Apples") Apples
                li
                  a(href='knowledgebase-article.html', title='Apricots', data-tip='Apricots') Apricots
                li
                  a(href='knowledgebase-article.html', title='Asparagus', data-tip='Asparagus') Asparagus
                li
                  a(href='knowledgebase-article.html', title='Amaranth', data-tip='Amaranth') Amaranth
            .col-md-3.col-xs-6.same_height_col
              h5 B
              ul
                li
                  a(href='knowledgebase-article.html', title='Bamboo Shoots', data-tip='Bamboo Shoots') Bamboo Shoots
                li
                  a(href='knowledgebase-article.html', title='Balsam Pear', data-tip='Balsam Pear') Balsam Pear
                li
                  a(href='knowledgebase-article.html', title='Bananas', data-tip='Bananas') Bananas
            .col-md-3.col-xs-6.same_height_col
              h5 C
              ul
                li
                  a(href='knowledgebase-article.html', title='Cherries', data-tip='Cherries') Cherries
                li
                  a(href='knowledgebase-article.html', title='Cranberries', data-tip='Cranberries') Cranberries
                li
                  a(href='knowledgebase-article.html', title='Cucumbers', data-tip='Cucumbers') Cucumbers
                li
                  a(href='knowledgebase-article.html', title='Crabapples', data-tip='Crabapples') Crabapples
                
            .col-md-3.col-xs-6.same_height_col
              h5 D
              ul
                li
                  a(href='knowledgebase-article.html', title='Dandelion GreensDill Seed', data-tip='Dandelion GreensDill Seed') Dandelion GreensDill Seed
                li
                  a(href='knowledgebase-article.html', title='Dill Seed', data-tip='Dill Seed') Dill Seed
                li
                  a(href='knowledgebase-article.html', title='Dill Weed', data-tip='Dill Weed') Dill Weed
          .row
            .col-md-3.col-xs-6.same_height_col
              h5 E
              ul
                li
                  a(href='knowledgebase-article.html', title='Elderberries', data-tip='Elderberries') Elderberries
                li
                  a(href='knowledgebase-article.html', title='Eggplants', data-tip='Eggplants') Eggplants
                li
                  a(href='knowledgebase-article.html', title='Endive', data-tip='Endive') Endive
            .col-md-3.col-xs-6.same_height_col
              h5 F
              ul
                li
                  a(href='knowledgebase-article.html', title='Fennel', data-tip='Fennel') Fennel
                li
                  a(href='knowledgebase-article.html', title='Figs', data-tip='Figs') Figs
                li
                  a(href='knowledgebase-article.html', title='Fertility', data-tip='Fertility') Fertility
                li
                  a(href='knowledgebase-article.html', title='Feta Cheese', data-tip='Feta Cheese') Feta Cheese
                
            .col-md-3.col-xs-6.same_height_col
              h5 G
              ul
                li
                  a(href='knowledgebase-article.html', title='Garlic', data-tip='Garlic') Garlic
                li
                  a(href='knowledgebase-article.html', title='Grape', data-tip='Grape') Grape
                li
                  a(href='knowledgebase-article.html', title='Green Bean', data-tip='Green Bean') Green Bean
            .col-md-3.col-xs-6.same_height_col
              h5 H
              ul
                li
                  a(href='knowledgebase-article.html', title='Haricot Bean', data-tip='Haricot Bean') Haricot Bean
                li
                  a(href='knowledgebase-article.html', title='Honey', data-tip='Honey') Honey
                li
                  a(href='knowledgebase-article.html', title='Honeydew melon', data-tip='Honeydew melon') Honeydew melon
                li
                  a(href='knowledgebase-article.html', title='Huckleberry', data-tip='Huckleberry') Huckleberry
               
          .row
            .col-md-3.col-xs-6.same_height_col
              h5 I
              ul
                li
                  a(href='knowledgebase-article.html', title='Iceberg lettuceIce Plant', data-tip='Iceberg lettuceIce Plant') Iceberg lettuceIce Plant
                li
                  a(href='knowledgebase-article.html', title='Ice Plant', data-tip='Ice Plant') Ice Plant
                
            .col-md-3.col-xs-6.same_height_col
              h5 J
              ul
                li
                  a(href='knowledgebase-article.html', title='Jerusalem ArtichokeJojoba', data-tip='Jerusalem ArtichokeJojoba') Jerusalem ArtichokeJojoba
                li
                  a(href='knowledgebase-article.html', title='Jojoba', data-tip='Jojoba') Jojoba
                li
                  a(href='knowledgebase-article.html', title='Jackfruit', data-tip='Jackfruit') Jackfruit
                li
                  a(href='knowledgebase-article.html', title='Jicama', data-tip='Jicama') Jicama
            .col-md-3.col-xs-6.same_height_col.centered
              h5 K
              ul
                li
                  a(href='knowledgebase-article.html', title='Kiwi fruit', data-tip='Kiwi fruit') Kiwi fruit
                li
                  a(href='knowledgebase-article.html', title='Kale', data-tip='Kale') Kale
                li
                  a(href='knowledgebase-article.html', title='Kangkong', data-tip='Kangkong') Kangkong
            .col-md-3.col-xs-6.same_height_col
              h5 L
              ul
                li
                  a(href='knowledgebase-article.html', title='Leek', data-tip='Leek') Leek
                li
                  a(href='knowledgebase-article.html', title='Lemon', data-tip='Lemon') Lemon
                li
                  a(href='knowledgebase-article.html', title='Lettuce', data-tip='Lettuce') Lettuce
                li
                  a(href='knowledgebase-article.html', title='Longan', data-tip='Longan') Longan
                li
                  a(href='knowledgebase-article.html', title='Loquat', data-tip='Loquat') Loquat
                li
                  a(href='knowledgebase-article.html', title='Lychee', data-tip='Lychee') Lychee
// END==========================  KNOWLEDGEBASE =============================
