.row
  .col-sm-6.col-md-3
    .teaser_box.centered.same_height_col.white_section
      .figure.boxed.skincolored_section
        a(href="http://samcome.github.io/webfont-medical-icons/" target="_blank")
          i.icon-i-internal-medicine
      .content
        .hgroup
          h4 EMERGENCY DEP
        .desc        
          p.
            Each of these beautiful flat teaser boxes uses the awesome WebFont Medical Icons set. 
        .link
          a.btn.btn-sm.btn-primary(href="http://samcome.github.io/webfont-medical-icons/" target="_blank") <strong>ICON SET</strong>    
  .col-sm-6.col-md-3
    .teaser_box.centered.same_height_col.white_section
      .figure.boxed.skincolored_section
        a(href="http://samcome.github.io/webfont-medical-icons/" target="_blank")
          i.icon-i-respiratory
      .content
        .hgroup
          h4 KNOWLEDGEBASE
        .desc        
          p.
            Each of these beautiful flat teaser boxes uses the awesome WebFont Medical Icons set.
        .link
          a.btn.btn-sm.btn-primary(href="http://samcome.github.io/webfont-medical-icons/" target="_blank") <strong>ICON SET</strong>    
  .col-sm-6.col-md-3
    .teaser_box.centered.same_height_col.white_section
      .figure.boxed.dark_section
        a(href="http://samcome.github.io/webfont-medical-icons/" target="_blank")
          i.icon-i-radiology
      .content
        .hgroup
          h4 PET SCANNER
        .desc        
          p.
            Each of these beautiful flat teaser boxes uses the awesome WebFont Medical Icons set.
        .link
          a.btn.btn-sm.btn-secondary(href="http://samcome.github.io/webfont-medical-icons/" target="_blank") <strong>ICON SET</strong>    
  .col-sm-6.col-md-3
    .teaser_box.centered.same_height_col.white_section
      .figure.boxed.dark_section
        a(href="http://samcome.github.io/webfont-medical-icons/" target="_blank")
          i.icon-i-labor-delivery
      .content
        .hgroup
          h4 QUALIFIED DOCTORS
        .desc        
          p.
            Each of these beautiful flat teaser boxes uses the awesome WebFont Medical Icons set.                              
        .link
          a.btn.btn-sm.btn-secondary(href="http://samcome.github.io/webfont-medical-icons/" target="_blank") <strong>ICON SET</strong>    
