
// ============================ FOOTER ============================

footer.gradient-invert.diagonal-70-invert.vbottom
  .container
    .row
      
      // ========================== WIDGET ABOUT US ==========================

      .col-sm-6.col-md-4
        .widget.pl_about_us_widget
          //- h4 About us
          p
            img(src="./assets/images/medicus-header-logo.png", alt="image-desc")
          p Premium HTML Template mainly Medical Oriented but so flexible that it can fit any Business Site!
          p.contact_detail
            i.fa.fa-phone
            span (+30) 210 1234567
          p.contact_detail
            i.fa.fa-envelope
            span
              a(href='mailto:info@plethorathemes.com') info@plethorathemes.com
          p.social
            a(href='https://www.facebook.com/plethorathemes')
              i.fa.fa-facebook
            a(href='https://twitter.com/PlethoraThemes')
              i.fa.fa-twitter
            a(href='https://plus.google.com/112457016609952874702/posts')
              i.fa.fa-google-plus
            a(href='https://gr.linkedin.com/pub/plethora-themes/89/552/4a9')
              i.fa.fa-linkedin
            a(href='#')
              i.fa.fa-instagram
            a(href='https://www.youtube.com/user/plethorathemes')
              i.fa.fa-youtube    
            //- a(href='#')
              i.fa.fa-pinterest-p
            //- a(href='#')
              i.fa.fa-flickr
            //- a(href='#')
              i.fa.fa-vimeo-square 
          p.contact_detail
            a(href="https://www.google.com/maps/place/79+Folsom+Ave+San+Francisco+CA+94107", target="_blank")
              i.fa.fa-location-arrow
            span 79 Folsom Ave, San Francisco, CA 94107        

      // END======================= WIDGET ABOUT US ==========================

      // ========================== LATEST NEWS =============================

      .col-sm-6.col-md-4
        .widget.pl_latest_news_widget
          h4 Latest Articles
          ul.media-list
            li.media
              a.media-photo(href='single.html', style="background-image:url('./assets/images/video-002.jpg');")
              h5.media-heading
                a(href='single.html') Diabetes Diet and Food Tips
              small Dec 8
              p You can make a big difference with healthy lifestyle changes....
            li.media
              a.media-photo(href='single.html', style="background-image:url('./assets/images/pricing-004.jpg');")
              h5.media-heading
                a(href='single.html') Prevent Asthma by changing working enviroment
              small Dec 6
              p Prom preventive care and checkups, to immunizations and exams, our primary…
            li.media
              a.media-photo(href='single.html')
              h5.media-heading
                a(href='single.html') Learn about Arrhythmia today
              small Dec 7
              p When you visit one of our four San Francisco campus locations you can expect…
                

      // END======================= LATEST NEWS =============================

      // ========================== REQUEST A CHECKUP =======================

      .col-sm-8.col-md-4
        .widget.pl_html_widget.boxed.black_section.transparent-film.wow.slideInRight
          h4 Request a Checkup
          p
            img.pull-left(src='./assets/images/strive-test.png', width='90', alt="image-desc")
            | From preventive care and checkups, to immunizations and exams, our primary care physicians and providers you visit one of our four San Francisco campus locations you can expect to receive world class care.
          p 
            a.btn.btn-success.with-icon(href='health-plans.html')
              i.fa.fa-caret-right 
              | Free Checkup
             

      // END======================= REQUEST A CHECKUP =======================

// END========================== FOOTER ============================

.copyright.secondary_section
  .secondary_section.transparent-film
    .container
      .row
        .col-sm-6.col-md-6
          | Copyright ©2015 all rights reserved
        .col-sm-6.col-md-6.text-right
          | Designed by <a href='http://plethorathemes.com/' target='_blank'>Plethora Themes</a>

a(href="javascript:", id="return-to-top")
  i.fa.fa-chevron-up