
// ============================ FOOTER ============================

footer
  .container
    .row
      
      // ========================== WIDGET ABOUT US ==========================

      .col-sm-12.col-md-4
        .widget.pl_about_us_widget
          //- h4 About us
          p
            img(src="./assets/images/spa/spa-salon-logo.png", alt="image-desc", width="170")
          br  
          p Health-X SPA Salon was made with love by PlethoraThemes in collaboration with Andrew Chs. We are carefully crafting amazing experiences for you, every single day.
          p.social
            a(href='https://www.facebook.com/plethorathemes')
              i.fa.fa-facebook
            a(href='https://twitter.com/PlethoraThemes')
              i.fa.fa-twitter
            a(href='https://plus.google.com/112457016609952874702/posts')
              i.fa.fa-google-plus
            a(href='https://gr.linkedin.com/pub/plethora-themes/89/552/4a9')
              i.fa.fa-linkedin
            a(href='#')
              i.fa.fa-instagram
            a(href='https://www.youtube.com/user/plethorathemes')
              i.fa.fa-youtube    
          

      // END======================= WIDGET ABOUT US ==========================

      // ========================== ABOUT US =============================
      .col-sm-6.col-md-4
        .widget.pl_about_us_widget
          h4 REACH US
          p.contact_detail
            i.fa.fa-phone
            span (+30) 210 1234567
          p.contact_detail
            i.fa.fa-envelope
            span
              a(href='mailto:info@plethorathemes.com') info@plethorathemes.com
          p.contact_detail
            a(href="https://www.google.com/maps/place/79+Folsom+Ave+San+Francisco+CA+94107", target="_blank")
              i.fa.fa-location-arrow
            span 79 Folsom Ave, San Francisco, CA 94107        
                  

        // END ABOUT US =============================

      .col-sm-6.col-md-4
        .widget.pl_about_us_widget
          h4 OUR NEWSLETTER
          p You can subscribe to our newsletter for future updates and exclusive offers. We will never spam!
          include newsletter-spa
               

  // END========================== FOOTER ============================

.copyright.dark_section
  .dark_section.transparent-film
    .container
      .row
        .col-sm-6.col-md-6.uppercase.tiny
          | Copyright ©2015 all rights reserved
        .col-sm-6.col-md-6.text-right.uppercase.tiny
          | Designed by <a href='http://plethorathemes.com/' target='_blank'>Plethora Themes</a> & <a href="http://themeforest.net/user/AndrewChs/portfolio">Andrew Chs</a>

a(href="javascript:", id="return-to-top")
  i.fa.fa-chevron-up