.head_panel

  // ============================ SLIDER ==========================

  .slider_wrapper
    .flexslider.stretchy-wrapper.ratio_slider#main_flexslider
      ul.slides

        // ============================ SLIDE ==========================

        li.item(style='background-image: url(./assets/images/slider-1.jpg);', aria-hidden='true')
          .container
            .caption.caption-right.caption-fancy
              .inner.animated.bounceInUp
                .t1 MEDICUS
                .t2.uppercase Can Handle That.
                .t3.uppercase Your Patients Await you
                p.desc.hidden-xxs.
                  From preventive care and checkups, to immunizations and exams, our primary care physicians and providers work to keep
                  you and your whole family healthy and strong each and every day.
                a(href="about-us.html").btn.btn-primary Learn more

        // END========================= SLIDE ==========================
        
        // ============================ SLIDE ==========================

        li.item(style='background-image: url(./assets/images/slider-2.jpg);', aria-hidden='true')
          .container
            .caption.caption-right.caption-flat
              .inner.black_section.transparent-film.animated.bounceInUp
                .t1 QUALITY Care...
                .t2 provided for everyone!
                p.desc
                  | Medicus Emergency Department is staffed 24 hours a day by full-time physicians and nurses who specialize in emergency medicine.
                //p
                  br
                  a(href="#").btn.btn-primary Learn more          

        // END========================= SLIDE ==========================

        // ============================ SLIDE  ==========================

        li.item(style='background-image: url(./assets/images/slider-3.jpg);', aria-hidden='true')
          .container
            .caption.caption-left.caption-fancy
              .inner.black_section.transparent-film.animated.bounceInUp
                .t1.uppercase Health
                .t2.uppercase special services
                .t3.uppercase by a friendly team of professionals.
                p.desc.
                  Expert physician specialists and caring clinical staff provide you with an exceptional health care experience.

        // END========================= SLIDE ==========================           

  // END========================= SLIDER ==========================
