//- SVG SLIDE CAPTIONS 

  * Quick, easy and hassle-free web site setup with a multitude of 
  innovative and eye-catching options

  * We strive for quality patient care using the latest treatment
  options for the most complex health conditions

  * Constantly focused on advancing our patients' health and wellness

// ============================== SVG SLIDER ==============================

#slider_wrapper.slider_wrapper.full_page_photo.svg_slider
  .svg_slide
    .lead_container
      // <p class="lead skincolored">Helping to improvie quality, stimulate innovation, increase productivity and prioritise prevention.</p>
      ul.svg_captions
        li
          p.lead.skincolored
            | Helping to improve quality, stimulate innovation, increase productivity and prioritise prevention
        li
          p.lead.skincolored.hidden
            | The Web Speech API adds voice recognition (speech to text) and speech synthesis (text to speech) to JavaScript
        li
          p.lead.skincolored.hidden The API also allows you to get a list of voice the engine supports
  .right_image
  ul.flex-direction-nav
    li
      a.flex-prev(href='#') Previous
    li
      a.flex-next(href='#') Next

// END=========================== SVG SLIDER ==============================
