.head_panel

  // ============================ SLIDER ==========================

  .slider_wrapper
    .owl-carousel#head_panel_slider

        // ============================ SLIDE ==========================
        .full_height.item.skincolored_section.transparent-film.neutralize_links(style='background-image: url(./assets/images/spa/spa-slide-1.jpg);', aria-hidden='true')
            .container
              .caption.caption-elegant.caption-full.centered
                .inner.animated.fadeInUp
                  .t1 HEALTH-X SPA
                  .t2 A MODERN SPA SALON
                  .t3 We offer quality spa services and massage techniques
                  a(href="#about-us").btn.btn-link Learn more &raquo;

        // END========================= SLIDE ==========================
        
        // ============================ SLIDE ==========================

        .full_height.item.skincolored_section.transparent-film.neutralize_links(style='background-image: url(./assets/images/spa/spa-slide-2.jpg);', aria-hidden='true')
            .container 
              .caption.centered.caption-full.caption-elegant
                .inner.animated.fadeInUp
                  .t1 MASSAGE THERAPY
                  .t2 A RELAXING AQUATIC EXPERIENCE
                  .t3 A set of moves which will help you reproduce your lost energy
                  a(href="#services").btn.btn-link Learn more &raquo; 

        // END========================= SLIDE ==========================

        // ============================ SLIDE  ==========================

        .full_height.item.skincolored_section.transparent-film.neutralize_links(style='background-image: url(./assets/images/spa/spa-slide-3.jpg);', aria-hidden='true')
            .container
              .caption.centered.caption-full.caption-elegant
                .inner.animated.fadeInUp
                  .t1 HAPPY CUSTOMERS
                  .t2 OUR CLIENTS REVIEWED US
                  .t3 We love to read reviews from our clients, it helps us improve
                  a(href="#testimonials").btn.btn-link Learn more &raquo;

        // END========================= SLIDE ==========================           

  // END========================= SLIDER ==========================
