.head_panel

  // ============================ SLIDER ==========================

  .slider_wrapper
    .owl-carousel#head_panel_slider

        // ============================ SLIDE ==========================
        .stretchy-wrapper.ratio_slider
          .item(style='background-image: url(./assets/images/slider-1.jpg);', aria-hidden='true')
            .container
              .caption.caption-right.caption-fancy
                .inner.animated.bounceInUp
                  .t1 MEDICUS
                  .t2.uppercase Can Handle That
                  .t3.uppercase Your Patients Await you
                  p.desc.hidden-xxs.
                    From preventive care and checkups, to immunizations and exams, our primary care physicians and providers work to keep
                    you and your whole family healthy and strong each and every day.
                  a(href="about-us.html").btn.btn-primary Learn more

        // END========================= SLIDE ==========================
        
        // ============================ SLIDE ==========================

        .stretchy-wrapper.ratio_slider
          .item(style='background-image: url(./assets/images/slider-2.jpg);', aria-hidden='true')
            .container
              .caption.caption-right.caption-flat
                .inner.black_section.transparent-film.animated.bounceInUp
                  .t1 QUALITY CARE
                  .t2 Provided for everyone!
                  p.desc
                    | Highly skilled and experienced medical staff, comfortable and cosy patient rooms, state-of-the art diagnostic equipment.
                  //p
                    br
                    a(href="#").btn.btn-primary Learn more          

        // END========================= SLIDE ==========================

        // ============================ SLIDE  ==========================

        .stretchy-wrapper.ratio_slider
          .item(style='background-image: url(./assets/images/slider-3.jpg);', aria-hidden='true')
            .container
              .caption.caption-left.caption-fancy
                .inner.black_section.transparent-film.animated.bounceInUp
                  .t1.uppercase Health
                  .t2.uppercase Top Services
                  .t3.uppercase By a friendly team of professionals.
                  p.desc.
                    At Medicus Clinic our highly skilled medical professionals provide top healthcare services with care and compassion in mind.

        // END========================= SLIDE ==========================           

  // END========================= SLIDER ==========================
