
// ====================== HORIZONTAL IMAGE COMPARE =====================

.row
  .col-sm-12.col-md-6
    h3.col_header We specialize in Cosmetic Surgery
    p
      | Go ahead and use the cool
      strong  Image Compare
      |  plugin.
    p
      | Come and meet one of our four world renowned facial plastic and reconstructive surgeons, that can guide you through the process that will change your life.
    p
      | Reshape the appearance of body parts through cosmetic surgery. Our surgeons are specialized in reconstructing face, neck, ears, nose, eyes, breasts. We can also guide you through some our patients' photos and their life changing stories.
    a.btn.btn-primary(href='#') Read More
  .col-sm-12.col-md-6
    .twentytwenty-container(data-default_offset_pct=0.25, data-orientation='horizontal')
      img(src='./assets/images/before.jpg', alt='Βefore')
      img(src='./assets/images/after.jpg', alt='Αfter')

// END=================== HORIZONTAL IMAGE COMPARE =====================
