// =============================  KNOWLEDGEBASE =============================        
.knowledgebase
          .row
            .col-md-3.col-xs-6.same_height_col
              h5 A
              ul
                li
                  a(href='knowledgebase-article.html', title="Alzheimer's Disease", data-tip="Alzheimer's Disease") Alzheimer's Disease
                li
                  a(href='knowledgebase-article.html', title='Arteriosclerosis', data-tip='Arteriosclerosis') Arteriosclerosis
                li
                  a(href='knowledgebase-article.html', title='Arthritis', data-tip='Arthritis') Arthritis
                li
                  a(href='knowledgebase-article.html', title='Asthma', data-tip='Asthma') Asthma
            .col-md-3.col-xs-6.same_height_col
              h5 B
              ul
                li
                  a(href='knowledgebase-article.html', title='Bad Breath', data-tip='Bad Breath') Bad Breath
                li
                  a(href='knowledgebase-article.html', title='Back Pain', data-tip='Back Pain') Back Pain
                li
                  a(href='knowledgebase-article.html', title='Bladder Infection', data-tip='Bladder Infection') Bladder Infection
            .col-md-3.col-xs-6.same_height_col
              h5 C
              ul
                li
                  a(href='knowledgebase-article.html', title='Cardiomyopathy', data-tip='Cardiomyopathy') Cardiomyopathy
                li
                  a(href='knowledgebase-article.html', title='CAT Scan', data-tip='CAT Scan') CAT Scan
                li
                  a(href='knowledgebase-article.html', title='Cataracts', data-tip='Cataracts') Cataracts
                li
                  a(href='knowledgebase-article.html', title='Cavities', data-tip='Cavities') Cavities
                li
                  a(href='knowledgebase-article.html', title='Chalazion', data-tip='Chalazion') Chalazion
                li
                  a(href='knowledgebase-article.html', title='Cirrhosis', data-tip='Cirrhosis') Cirrhosis
            .col-md-3.col-xs-6.same_height_col
              h5 D
              ul
                li
                  a(href='knowledgebase-article.html', title='Dandruff', data-tip='Dandruff') Dandruff
                li
                  a(href='knowledgebase-article.html', title='Dehydration', data-tip='Dehydration') Dehydration
                li
                  a(href='knowledgebase-article.html', title='Dental Injuries', data-tip='Dental Injuries') Dental Injuries
          .row
            .col-md-3.col-xs-6.same_height_col
              h5 E
              ul
                li
                  a(href='knowledgebase-article.html', title='Ear Infection', data-tip='Ear Infection') Ear Infection
                li
                  a(href='knowledgebase-article.html', title='Echocardiogram', data-tip='Echocardiogram') Echocardiogram
                li
                  a(href='knowledgebase-article.html', title='Encephalopathy', data-tip='Encephalopathy') Encephalopathy
            .col-md-3.col-xs-6.same_height_col
              h5 F
              ul
                li
                  a(href='knowledgebase-article.html', title='Fainting', data-tip='Fainting') Fainting
                li
                  a(href='knowledgebase-article.html', title='Farsightedness', data-tip='Farsightedness') Farsightedness
                li
                  a(href='knowledgebase-article.html', title='Fertility', data-tip='Fertility') Fertility
                li
                  a(href='knowledgebase-article.html', title='First Aid', data-tip='First Aid') First Aid
                li
                  a(href='knowledgebase-article.html', title='Flu', data-tip='Flu') Flu
                li
                  a(href='knowledgebase-article.html', title='Food Allergy', data-tip='Food Allergy') Food Allergy
            .col-md-3.col-xs-6.same_height_col
              h5 G
              ul
                li
                  a(href='knowledgebase-article.html', title='Gastric Ulcer', data-tip='Gastric Ulcer') Gastric Ulcer
                li
                  a(href='knowledgebase-article.html', title='Genetic Disease', data-tip='Genetic Disease') Genetic Disease
                li
                  a(href='knowledgebase-article.html', title='Glaucoma', data-tip='Glaucoma') Glaucoma
            .col-md-3.col-xs-6.same_height_col
              h5 H
              ul
                li
                  a(href='knowledgebase-article.html', title='Hair Loss', data-tip='Hair Loss') Hair Loss
                li
                  a(href='knowledgebase-article.html', title='Halitosis', data-tip='Halitosis') Halitosis
                li
                  a(href='knowledgebase-article.html', title='Headache', data-tip='Headache') Headache
                li
                  a(href='knowledgebase-article.html', title='Heart Attack', data-tip='Heart Attack') Heart Attack
                li
                  a(href='knowledgebase-article.html', title='Hematoma', data-tip='Hematoma') Hematoma
                li
                  a(href='knowledgebase-article.html', title='Hepatitis', data-tip='Hepatitis') Hepatitis
          .row
            .col-md-3.col-xs-6.same_height_col
              h5 I
              ul
                li
                  a(href='knowledgebase-article.html', title='Immunotherapy', data-tip='Immunotherapy') Immunotherapy
                li
                  a(href='knowledgebase-article.html', title='Infertility', data-tip='Infertility') Infertility
                li
                  a(href='knowledgebase-article.html', title='Insomnia', data-tip='Insomnia') Insomnia
            .col-md-3.col-xs-6.same_height_col
              h5 J
              ul
                li
                  a(href='knowledgebase-article.html', title='Jakob-Creutzfeldt Disease', data-tip='Jakob-Creutzfeldt Disease') Jakob-Creutzfeldt Disease
                li
                  a(href='knowledgebase-article.html', title='Jet Lag', data-tip='Jet Lag') Jet Lag
                li
                  a(href='knowledgebase-article.html', title='Joint Pain', data-tip='Joint Pain') Joint Pain
                li
                  a(href='knowledgebase-article.html', title='Juvenile Diabetes', data-tip='Juvenile Diabetes') Juvenile Diabetes
            .col-md-3.col-xs-6.same_height_col
              h5 K
              ul
                li
                  a(href='knowledgebase-article.html', title='Keratitis', data-tip='Keratitis') Keratitis
                li
                  a(href='knowledgebase-article.html', title='Kidney Stones', data-tip='Kidney Stones') Kidney Stones
                li
                  a(href='knowledgebase-article.html', title='Knee Injury', data-tip='Knee Injury') Knee Injury
            .col-md-3.col-xs-6.same_height_col
              h5 L
              ul
                li
                  a(href='knowledgebase-article.html', title='Lactose Intolerance', data-tip='Lactose Intolerance') Lactose Intolerance
                li
                  a(href='knowledgebase-article.html', title='Laparoscopy', data-tip='Laparoscopy') Laparoscopy
                li
                  a(href='knowledgebase-article.html', title='Laryngitis', data-tip='Laryngitis') Laryngitis
                li
                  a(href='knowledgebase-article.html', title='Leukemia', data-tip='Leukemia') Leukemia
                li
                  a(href='knowledgebase-article.html', title='Liver Disease', data-tip='Liver Disease') Liver Disease
                li
                  a(href='knowledgebase-article.html', title='Low Blood Pressure', data-tip='Low Blood Pressure') Low Blood Pressure
// END==========================  KNOWLEDGEBASE =============================
