// ========================= NAVIGATION MENU ========================
nav
  ul.main_menu.hover_menu
    li
      a(title='ABOUT US', href='#about-us') ABOUT US
    li
      a(title='SERVICES', href='#services') SERVICES
    li
      a(title='HEALTH PLANS', href='#blog') BLOG
    li
      a(title='News', href='#testimonials') TESTIMONIALS
    li
      a(title='CONTACT', href='#contact') CONTACT
    li.lihasdropdown.drop-left
      a(title='more', href='#') More 
      ul.menu-dropdown  
        li
          a(title='Blog Post', href='./spa_blog_post.html') BLOG POST Single
        li
          a(title='Service Details', href='./spa_service_details.html') SERVICE DETAILS
        li
          a(title='All Demos', href='./all-demos.html') All Demos Page <span class="label label-success">New</span>   
        li
          a(title='Documentation', target='_blank', href='http://doc.plethorathemes.com/medicus-html/') DOCUMENTATION          
        li
          a(title='Support', target='_blank', href='http://plethorathemes.com/support/') <i class="fa fa-life-ring"></i> SUPPORT
        

// END====================== NAVIGATION MENU ========================