
// ========================= PHOTO DIVIDER ========================
.col-md-6
.col-md-6
  .caption.caption-fancy.no-line
    .inner
      .t1 
        img(src='./assets/images/logo-white-alpha.png', alt='')
        |  MEDICUS
      .t2.uppercase Fancy Single Caption      
// END====================== PHOTO DIVIDER ========================
