.post-grid.compact
  .row

    // ======================= ARTICLE #1 ======================
    
    .col-md-12
      article.post
        .row
          .col-md-4
            figure.stretchy-wrapper.ratio_1-1
              a(href='./single.html', title='Post' style="background-image: url('./assets/images/blog-pills.jpg')")
          .col-md-8      
            h2.post_title
              a(href='./single.html') Medical Advice
            p.post_subtitle
              | You can make a big difference with healthy lifestyle changes.  
            p
              a.btn.btn-primary(href='./single.html') Read More

    // ======================= ARTICLE #2 ======================

    .col-md-12
      article.post
        .row
          .col-md-4.col-sm-4.col-xs-4
            figure.stretchy-wrapper.ratio_1-1
              a(href='./single.html', title='Post' style="background-image: url('./assets/images/blog-salad.jpg')")
          .col-md-8.col-sm-8.col-xs-12
            h2.post_title
              a(href='./single.html') Diabetes Diet and Food Tips
            p.post_subtitle
              | These diets also emphasize fish, poultry, and seeds. Most of the fat in the Mediterranean diet comes from olive oil, an unsaturated fat that doesn’t raise cholesterol the way saturated fat does.
            p
              a.btn.btn-primary(href='./single.html') Read More

    // ======================= ARTICLE #3  (VIDEO: VIMEO) ======================

    .col-md-12
      article.post
        .row
          .col-md-4
            figure.video_iframe.stretchy-wrapper.ratio_16-9
              iframe(src='http://player.vimeo.com/video/31884207?title=0&byline=0&portrait=0')
          .col-md-8
            h2.post_title
              a(href='./single.html') Medical Advice Video
            p.post_subtitle
              | Brain-healthy diets also include “moderate” amounts of wine. That means up to one drink per day for women and up to two for men. 
            p
              a.btn.btn-primary(href='./single.html') Read More

    // ======================= ARTICLE #4 ======================

    .col-md-12
      article.post
        .row
          .col-md-4.col-sm-4.col-xs-4
            figure.stretchy-wrapper.ratio_1-1
              a(href='./single.html', title='Post' style="background-image: url('./assets/images/entry-002.jpg')")
          .col-md-8.col-sm-8.col-xs-12
            h2.post_title
              a(href='./single.html') Innovations in Medicinal Practices
            p.post_subtitle
              | You can make a big difference with healthy lifestyle changes.
            .post_figure_and_info
              .post_sub
                span.post_info.post_date
                  i.fa.fa-calendar
                  |  Sep 24, 2015 
                a(href='#')
                  span.post_info.post_author By Dr. Henrik Pleth
                a(href='#')
                  span.post_info.post_categories Healthy Living
                a(href='#')
                  span.post_info.post_comment
                    i.fa.fa-comment
                    | 6 
            p
              a.btn.btn-primary(href='./single.html') Read More

    // ======================= ARTICLE #5  (TEXT ONLY) ======================

    .col-md-12
      article.post
        h2.post_title
          a(href='./single.html') Blog post with no photo
        p.post_subtitle
          | You can make a big difference with healthy lifestyle changes.
        .post_figure_and_info
          .post_sub
            span.post_info.post_date
              i.fa.fa-calendar
              |  Sep 24, 2015 
            a(href='#')
              span.post_info.post_author By Dr. Henrik Pleth
            a(href='#')
              span.post_info.post_categories Healthy Living
            a(href='#')
              span.post_info.post_comment
                i.fa.fa-comment
                | 6
        p
          a.btn.btn-primary(href='./single.html') Read More