.post-grid.classic
  .row

    // ======================= ARTICLE #1 ======================
    .col-md-12
      article.post
        h2.post_title
          a(href='./single.html') Medical Advice
        p.post_subtitle
          | You can make a big difference with healthy lifestyle changes.  
        .post_figure_and_info
          .post_sub
            span.post_info.post_date
              i.fa.fa-calendar
              |  Sep 24, 2015 
            a(href='#')
              span.post_info.post_author By Dr. Henrik Pleth
            a(href='#')
              span.post_info.post_categories News
            a(href='#')
              span.post_info.post_comment
                i.fa.fa-comment
                | 12  
          figure
            a(href='./single.html', title='Post')
              img(alt='Post with Slider', src='./assets/images/blog-pills.jpg')
        p
          | The image is put here as is. While it seems like an easy task, swallowing a pill is something that many adults and children have great difficulty doing. The fear of gagging causes the throat to tighten up so that pill stays in your mouth until you spit it out. Fortunately, there are various ways to approach the problem so that you can relax, overcome the fear of choking, and just let the pill easily slide down. It's like riding a bike - once you get the hang of it, it becomes second nature. […]
        a.btn.btn-primary(href='./single.html') Read More

    // ======================= ARTICLE #2 ======================
    .col-md-12
      article.post
        h2.post_title
          a(href='./single.html') Diabetes Diet and Food Tips
        p.post_subtitle
          | You can make a big difference with healthy lifestyle changes.
        .post_figure_and_info
          .post_sub
            span.post_info.post_date
              i.fa.fa-calendar
              |  Sep 24, 2015 
            a(href='#')
              span.post_info.post_author By Dr. Henrik Pleth
            a(href='#')
              span.post_info.post_categories Healthy Living
            a(href='#')
              span.post_info.post_comment
                i.fa.fa-comment
                | 6  
          figure.stretchy-wrapper.ratio_12-5
            a(href='./single.html', title='Post' style="background-image: url('./assets/images/blog-salad.jpg')")
              //img(alt='Post with Slider', src='./assets/images/blog-salad.jpg')
        p
          | The image is put here in a 12:5 ratio responsive container as a background. Whether you’re trying to prevent or control diabetes, there is some good news. You can make a big difference with healthy lifestyle changes. The most important thing you can do for your health is to lose weight—but you don’t have to lose all your extra pounds to start reaping the benefits. Experts say that losing just 5% to 10% of your total weight can help you lower your blood sugar considerably, as well as lower your blood pressure and cholesterol levels. […]
        a.btn.btn-primary(href='./single.html') Read More

    // ======================= ARTICLE #3  (VIDEO: VIMEO) ======================
    .col-md-12
      article.post
        h2.post_title
          a(href='./single.html') Medical Advice
        .post_figure_and_info
          figure.video_iframe.stretchy-wrapper.ratio_16-9
            iframe(src='http://player.vimeo.com/video/31884207?title=0&byline=0&portrait=0')
        p
          | The video is put here in a 16:9 ratio responsive container. While it seems like an easy task, swallowing a pill is something that many adults and children have great difficulty doing. The fear of gagging causes the throat to tighten up so that pill stays in your mouth until you spit it out. Fortunately, there are various ways to approach the problem so that you can relax, overcome the fear of choking, and just let the pill easily slide down. It's like riding a bike - once you get the hang of it, it becomes second nature. […]
        a.btn.btn-primary(href='./single.html') Read More

    // ======================= ARTICLE #4  (TEXT ONLY) ======================
    .col-md-12
      article.post
        // POST TITLE/SUBTITLE
        h2.post_title
          a(href='./single.html') Blog post with no photo
        .post_figure_and_info
          .post_sub
            span.post_info.post_date
              i.fa.fa-calendar
              |  Sep 24, 2015 
            a(href='#')
              span.post_info.post_author By Dr. Henrik Pleth
            a(href='#')
              span.post_info.post_categories Healthy Living
            a(href='#')
              span.post_info.post_comment
                i.fa.fa-comment
                | 6
        p
          | Welcome to WordPress. This is your first post. Edit or delete it, then start blogging!
        a.btn.btn-primary(href='./single.html') Read More