.section_style_switcher
    .handler
        i.fa.fa-wrench
    .inner_area
        .section_styles      
            h5 Section Classes
            a dark_section
            a skincolored_section
            a black_section
            a white_section
            a secondary_section
            a transparent
            hr
            a bgimage
            a transparent-film
            a gradient-film-to-top
            a gradient-film-to-bottom
            hr
            a gradient
            a gradient-invert
            hr
            a diagonal-30
            a diagonal-30-invert
            a diagonal-30-minusangle
            a diagonal-30-minusangle-invert
            hr
            a diagonal-50
            a diagonal-50-invert
            a diagonal-50-minusangle
            a diagonal-50-minusangle-invert
            hr
            a diagonal-70
            a diagonal-70-invert
            a diagonal-70-minusangle
            a diagonal-70-minusangle-invert            
            hr
            a no_padding
            a no_top_padding
            a no_bottom_padding
            a no_cols_padding
            a full_width
            a vcenter 
            a vbottom
            hr
            a full_height
            a vertical_center
            a vertical_bottom
            hr
            a elevate
            //a particles-js
        //.section_header_styles
            h5 Section Header Classes
            a fancy
            a elegant
            a centered
        //.column_styles       
            h5 Column Classes
            ul.col_select
                li 1
                li 2
                li 3
                li 4
            a dark_section
            a skincolored_section
            a black_section
            a white_section
            a secondary_section
            a transparent
            a transparent-film
            a same_height_col  
