
// ========================= SERVICES ========================

.col-sm-6.col-md-3
  .teaser_box.centered.same_height_col.white_section.boxed.boxed-special
    .figure
      img(src='./assets/images/strive-test.png', height="100", alt="service")
    .content
      .hgroup
        h4 Daily Checkups
      .desc        
        p.
          Big and impressive Photography is an essential part of this design's success.

// ==================== SERVICE BOX ===================

.col-sm-6.col-md-3
  .teaser_box.centered.same_height_col.white_section.boxed.boxed-special
    .figure
      a(href="services.html")
        img(src='./assets/images/strive-lungs.png', height="100", alt="service")
    .content
      .hgroup
        h4 Prevent Asthma
      .desc        
        p.
          So every item has its own custom-post that you can fill in with useful information. 
      .link
          a.btn.btn-sm.btn-primary(href="services.html") <strong>MORE</strong>  
// END================= SERVICE BOX ===================

// ==================== SERVICE BOX ===================

.col-sm-6.col-md-3
  .teaser_box.centered.same_height_col.white_section.boxed.boxed-special
    .figure
      a(href="services.html")
        img(src='./assets/images/strive-cardiology.png', height="100", alt="service")
    .content
      .hgroup
        h4 Cardiology Dep
      .desc        
        p.
          Then all you have to do is setup the "Team Grid" shortcode and add it in a row with the Visual Builder. 
      .link
        a.btn.btn-sm.btn-primary(href="services.html") <strong>DETAILS</strong>  
// END================= SERVICE BOX ===================

// ==================== SERVICE BOX ===================

.col-sm-6.col-md-3
  .teaser_box.centered.same_height_col.white_section.boxed.boxed-special
    .figure
      img(src='./assets/images/strive-dna.png', height="100", alt="service")
    .content
      .hgroup
        h4 DNA Testing
      .desc        
          p.
            Make sure you balance these text descriptions to maintain the strict visual rhythm of the grid. 
// END================= SERVICE BOX ===================

// END========================= SERVICES ========================
