.testimonial.testimonial-slider
  ul.slides
    li
      p Medicus Healthcare Services provided great patient care as well as customer service for my child. Their caregivers really cared about my child's well-being and displayed it on a daily basis.
      .author
        | <strong>Joshue Petkinns</strong>, Trainer
    li
      p 2 Medicus Healthcare Services provided great patient care as well as customer service for my child. Their caregivers really cared about my child's well-being and displayed it on a daily basis.
      .author
        | <strong>Mary Rose</strong>, Medicus Veteran
    li
      p 4 Medicus Healthcare Services provided great patient care as well as customer service for my child. Their caregivers really cared about my child's well-being and displayed it on a daily basis.
      .author
        | <strong>Elen Montana</strong>, Medicus Rookie    
