// ========================= TESTIMONIALS SLIDER ========================

.testimonial.testimonial-slider
  ul.slides
    li
      p Medicus Healthcare Services provided great patient care as well as customer service for my child. Their caregivers really cared about my child's well-being and displayed it on a daily basis.
      .name
        | <strong>Mary Rose</strong>, cardiology
    li
      p 2 Medicus Healthcare Services provided great patient care as well as customer service for my child. Their caregivers really cared about my child's well-being and displayed it on a daily basis.
      .name
        | <strong>Mary Rose</strong>, cardiology
    li
      p 3 Medicus Healthcare Services provided great patient care as well as customer service for my child. Their caregivers really cared about my child's well-being and displayed it on a daily basis.
      .name
        | <strong>Mary Rose</strong>, cardiology    

// END====================== TESTIMONIALS SLIDER ========================