.table-responsive.white_section
  //.panel-heading
    h3.panel-title.text-center DOCTORS' TIMETABLE
    .pull-right: button.btn.btn-default.btn-xs.btn-filter: span.glyphicon.glyphicon-filter Filter

  // TABLE
  table.table.timetable_big
    thead
      tr.filters.hidden
        th
          input.form-control(type='text', placeholder='Doctor\' Name', disabled='')
      tr
        th
        th.text-center(colspan='2')
          strong MON
        th.text-center(colspan='2')
          strong TUES
        th.text-center(colspan='2')
          strong WED
        th.text-center(colspan='3')
          strong THURS
        th.text-center(colspan='2')
          strong FRI
      tr
        th.text-center: strong DOCTOR
        th.text-center AM
        th.text-center PM
        th.text-center AM
        th.text-center PM
        th.text-center AM
        th.text-center PM
        th.text-center AM
        th.text-center PM
        th.text-center Evening
        th.text-center AM
        th.text-center PM
    tbody
      tr
        td
          strong Dr Ireland
        td
        td
        td.text-center.check
        td.text-center.check
        td.text-center.check
        td.text-center.check
        td
        td
        td
        td.text-center.check
        td.text-center.check
      tr
        td
          strong Dr Seiger
        td.text-center.check
        td.text-center.check
        td
        td
        td
        td
        td
        td
        td.text-center.check
        td.text-center.check
        td.text-center.check
      tr
        td
          strong Dr Vaskovic
        td.text-center.check
        td
        td.text-center.check
        td.text-center.check
        td
        td
        td.text-center.check
        td.text-center.check
        td
        td
        td
      tr
        td
          strong Dr Srinivasan
        td.text-center.check
        td.text-center.check
        td.text-center.check
        td.text-center.check
        td.text-center.check
        td.text-center.check
        td
        td
        td
        td.text-center.check
        td.text-center: i.fa.fa-repeat
      tr
        td
          strong Dr Cooper
        td.text-center.check
        td.text-center.check
        td.text-center.check
        td.text-center.check
        td.text-center.check
        td.text-center.check
        td.text-center.check
        td.text-center.check
        td
        td
        td
      tr
        td
          strong Dr Warcaba
        td
        td
        td
        td
        td.text-center.check
        td.text-center.check
        td.text-center.check
        td.text-center.check
        td
        td.text-center.check
        td.text-center.check
