
// ========================= WORKING HOURS ========================

.timetable
  table.timetable_hours
    tr
      td MONDAY
      td 09:00-20:00
    tr
      td TUESDAY
      td 09:00-20:00
    tr
      td WEDNESDAY
      td 09:00-20:00
    tr
      td THURSDAY
      td 09:00-20:00
    tr
      td FRIDAY
      td 09:00-20:00
    tr
      td SATURDAY
      td 09:00-20:00
    tr
      td SUNDAY
      td 09:00-20:00
p.centered
  a.btn.btn-primary.with-icon.icon-left(href='services.html#timetables' target='_blank')
    i.fa.fa-clock-o
    |  DOCTORS TIMETABLES

// END====================== WORKING HOURS ========================

