@page
@model HospitalOpenings.Pages.aboutModel
@{
    ViewData["Title"] = "About Us ";
}

<div class="brand-colors"></div>

<div class="head_panel parallax-window">
    <div style="background-image: url('./assets/images/slider-4.jpg')" class="full_width_photo">
        <div class="hgroup">
            <div class="title diagonal-bgcolor-trans">
                <div class="container">
                    <h1>About Us</h1>
                </div>
            </div>
            <div class="subtitle body-bg_section">
                <div class="container">
                    <p class="uppercase">Hospital Info and Employment</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">



    <section class="vcenter">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <p>
                        Our team strives to achieve excellence in every aspect of the production process, from the preliminary hand-drawn sketches to the aftersales support. We carefully design our themes to be easy and flexible while making sure that most FAQ of our customers can be answered by our
                        detailed documentation.
                    </p>
                    <p>We focus on using the latest web standards and practices regarding UX guidelines and WordPress theme development and strongly encourage our customers to follow us on this. The use of a child theme and the plugin-based development of ©Plethora Framework ensure hassle-free updates and peace of mind.</p>
                    <p>Personalized patient care is what sets California Pacific Medical Center apart. When you visit one of our four San Francisco campus locations you can expect to receive world class care. Expert physician specialists and caring clinical staff provide you with an exceptional health care experiene.</p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="video_iframe stretchy-wrapper ratio_16-9">
                        <iframe src="http://player.vimeo.com/video/67157062?title=0&amp;byline=0&amp;portrait=0"> </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section>
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                            <div class="figure"><img src="./assets/images/strive-test.png" height="100" alt="service"></div>
                            <div class="content">
                                <div class="hgroup">
                                    <h4>Nursing Jobs</h4>
                                </div>
                                <div class="desc">
                                    <p>
                                        Registered nurses (RNs) care for patients by treating and educating them about various medical ailments. The largest group of RNs work as staff nurses in hospitals

                                    </p>
                                </div>
                                <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                            </div>
                        </div>
                    </div>
                    <!-- ==================== SERVICE BOX ===================-->
                    <div class="col-sm-6 col-md-3">
                        <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                            <div class="figure"><a href="services.html"><img src="./assets/images/strive-lungs.png" height="100" alt="service"></a></div>
                            <div class="content">
                                <div class="hgroup">
                                    <h4>Doctor Jobs </h4>
                                </div>
                                <div class="desc">
                                    <p>From 2014 to 2024, the U.S. Bureau of Labor Statistics (BLS) expected job opportunities for physicians and surgeons to increase by 14%, much faster than that of most other occupations </p>
                                </div>
                                <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>MORE</strong>  </a></div>
                            </div>
                        </div>
                    </div>
                    <!-- END================= SERVICE BOX ===================-->
                    <!-- ==================== SERVICE BOX ===================-->
                    <div class="col-sm-6 col-md-3">
                        <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                            <div class="figure"><a href="states_cities"><img src="./assets/images/strive-cardiology.png" height="100" alt="service"></a></div>
                            <div class="content">
                                <div class="hgroup">
                                    <h4>Pharmacy Tech Jobs</h4>
                                </div>
                                <div class="desc">
                                    <p>Work under the supervision of a licensed pharmacist and are responsible for dispensing medications. Training for a pharmacy technician job is available. </p>
                                </div>
                                <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                            </div>
                        </div>
                    </div>
                    <!-- END================= SERVICE BOX ===================-->
                    <!-- ==================== SERVICE BOX ===================-->
                    <div class="col-sm-6 col-md-3">
                        <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                            <div class="figure"><img src="./assets/images/strive-dna.png" height="100" alt="service"></div>
                            <div class="content">
                                <div class="hgroup">
                                    <h4>Entry Level Jobs</h4>
                                </div>
                                <div class="desc">
                                    <p>There are several options for behind the scene entry level medical jobs that require varying levels of education and range in their required duties. </p>
                                </div>
                                <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>