@page
@model HospitalOpenings.Pages.hospitalguideModel
@{
    ViewData["Title"] = "Hospital Guide ";
}

<div class="brand-colors"></div>

<div class="head_panel parallax-window">
    <div style="background-image: url('./assets/images/slider-6.jpg')" class="full_width_photo">
        <div class="hgroup">
            <div class="title diagonal-bgcolor-trans">
                <div class="container">
                    <h1>The Guide</h1>
                </div>
            </div>
            <div class="subtitle body-bg_section">
                <div class="container">
                    <p class="uppercase">
                        Hospital Hiring
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">




    <section>
        <div class="container">
            <div class="section-content">
                <div class="row">


                    <div class="col-md-12">
                        <div class="horizontal-tab product-tab">

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1">
                                    <h3>Hospital Guide For Employment</h3>
                                    <h4>How To Obtain a Hospital  Job ... Quickly, Easily, And Effectively With Little Possible Effort Basics of Hospital Jobs</h4>
                                    <p><strong>Hospital Jobs: America's Best</strong></p>
                                    <p>Whether you're a student, a recent graduate, or an experienced professional, working for the Hospital  can provide you with unique challenges and exciting career opportunities.</p>
                                    <p><strong>The Hospital , America's largest employer, hires more than 300,000 people each year. No other employer can offer you the variety of career opportunities that are available in the Hospital.</strong> There are more than 200 rewarding career fields across the country and around the world from which to choose.</p>
                                    <p>
                                        <strong>The Hospital is a competitive employer whose bottom line is service to the American people.</strong> What does this mean to you? If you
                                        are interested in finance, you can sign on with the Nation's largest business. Science and technology? Hospitals offer the most renowned laboratories, medical facilities and sophisticated computer systems to face today's extraordinary challenges. If you have an interest in protecting the public, becoming a Hospital law enforcement officer might be for you.
                                    </p>
                                    <p>Every Hospital agency needs the best managers, administrators, and policy makers to keep this multi-billion dollar institution running with excellence.</p>
                                    <p>As a Hospital employee, you have the opportunity to change jobs, offices, and agencies and still retain your benefits and service years. You will find training and career advancement opportunities for your personal and professional growth. The possibilities are as diverse as your talents and interests. Read on to find out how to get started in the career of a lifetime!</p>
                                    <p><strong>Work Schedules</strong></p>
                                    <p>As a Hospital employee, you are not always limited to a traditional work schedule. You may be able to work a part-time, flexible, or alternate work schedule. &quot;Flexitime,&quot; for example, allows you to have flexibility in your work schedule while still working a 40- hour work week. You should discuss these options with your supervisor once you have started your Hospital job.</p>
                                    <p><strong>Excellent Benefits</strong></p>
                                    <p>The Hospital offers benefits such as life insurance, retirement plans, a variety of health insurance plans, and paid leave. Many Hospital agencies also offer a number of special benefits which include child care arrangements, credit unions, fitness centers, and recreational activities.</p>
                                    <p><strong>Age/Citizenship Requirements</strong></p>
                                    <p>The standard age for permanent employment is 18, although you can apply for most jobs at age 16 if you are a high school graduate. For some fields, such as law enforcement, there is an age limit for applicants. With few exceptions, Hospital employees must be U.S. citizens. However, some non-citizens may be selected for certain positions under special circumstances. Contact individual agencies to find out about such opportunities if you are not a U.S.citizen.</p>
                                    <p><strong>Equal Opportunity</strong></p>
                                    <p>The Hospital is an Equal Opportunity Employer. Hiring and advancement are based on qualifications and performance regardless of race, color, religion, sex, age, national origin, politics, or disability.</p>
                                    <p> <strong>Employment of People With Disabilities</strong></p>
                                    <p>The Hospital actively promotes the employment of people with disabilities through selective placement procedures. This assistance includes individual job counseling, special testing for visually and hearing impaired applicants, and referral to agency coordinators for selective placement. Special accommodations such as interpreters, readers, and restructured work sites can also be provided for the disabled. </p>
                                    <p><strong>Student Employment Programs</strong></p>
                                    <p>If you are a motivated, talented, and ambitious student, you already know that it is important to get good work experience before you get your diploma. The Hospital  offers a variety of student employment programs to high school, undergraduate, and graduate students who are at least 16 years of age and have U.S. citizenship. By working for the  while you are in school, you can have the opportunity to earn money, benefits, and of course, invaluable experience! Decide which of the following programs is right for you and then contact your school's career placement center for more details.</p>
                                    <p>
                                        <br>
                                        <strong>Hospital Cooperative Education Program</strong>
                                    </p>
                                    <p>High School, undergraduate, graduate, vocational, and community college students enrolled at least part-time can work a parallel or alternate work/study schedule in the field of their interest. Benefits include salary, annual leave, sick leave, health and life insurance, and retirement plans. Often a "Co-op" position can be converted into a permanent position upon graduation.</p>
                                    <p> <strong>Summer Employment Program</strong></p>
                                    <p>Summer employees are hired to fill a variety of positions, from office support to professional, between May 13 and September 30 every year. Summer employees earn salaries based on their education and experience. </p>
                                    <p>
                                        <br>
                                        <strong>Student Volunteer Service</strong>
                                    </p>
                                    <p>High school, undergraduate, graduate, or vocational students who are enrolled at least part-time can gain experience through this "internship" opportunity in a field related to their academic/career interest. In many cases, you can earn academic credit for your internship. Students should contact agency personnel offices directly to inquire about opportunities.</p>
                                    <p><strong>Welcome to the Hospital </strong></p>
                                    <p>You are now on your way to becoming a Hospital employee. Working for the U.S.  means working for you -- the taxpayer. It means working for your community and your fellow citizens. It means working on the cutting edge of technology and the leading edge of social reform. It means having an impact on the future of your country. And it means that you have begun a prestigious career with tremendous potential, competitive salary, and good benefits.</p>
                                    <p>As you start your job search, keep in mind that research, persistence, and self-promotion pay off. Market yourself to agencies and recruiters just as you would in the private sector -- your future career depends on the quality of your job search, and agencies want to hire motivated and ambitious candidates.</p>
                                    <p>Once you start work, be sure to explore the individual culture and opportunities at your agency. Many agencies emphasize developmental training, career-enhancement programs, seminars, and more.</p>
                                    <p>Welcome to the Hospital  -- Working for America works for you!</p>


                                </div>
                                <div class="tab-pane fade" id="tab2">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th>Company</th>
                                                <td><p>InTekOne, LLC</p></td>
                                            </tr>
                                            <tr>
                                                <th>Central Location</th>
                                                <td><p>Bowie, Maryland</p></td>
                                            </tr>
                                            <tr>
                                                <th>Licensed</th>
                                                <td><p>Since 2002</p></td>
                                            </tr>
                                            <tr>
                                                <th>Industry</th>
                                                <td>Hosptial and Medical</td>
                                            </tr>
                                            <tr>
                                                <th>Focus</th>
                                                <td>Medical Services/Jobs</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
</div>
          </section>

<section>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                        <div class="figure"><img src="./assets/images/strive-test.png" height="100" alt="service"></div>
                        <div class="content">
                            <div class="hgroup">
                                <h4>Nursing Jobs</h4>
                            </div>
                            <div class="desc">
                                <p>
                                    Registered nurses (RNs) care for patients by treating and educating them about various medical ailments. The largest group of RNs work as staff nurses in hospitals

                                </p>
                            </div>
                            <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                        </div>
                    </div>
                </div>
                <!-- ==================== SERVICE BOX ===================-->
                <div class="col-sm-6 col-md-3">
                    <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                        <div class="figure"><a href="states_cities"><img src="./assets/images/strive-lungs.png" height="100" alt="service"></a></div>
                        <div class="content">
                            <div class="hgroup">
                                <h4>Doctor Jobs </h4>
                            </div>
                            <div class="desc">
                                <p>From 2014 to 2024, the U.S. Bureau of Labor Statistics (BLS) expected job opportunities for physicians and surgeons to increase by 14%, much faster than that of most other occupations </p>
                            </div>
                            <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>MORE</strong>  </a></div>
                        </div>
                    </div>
                </div>
                <!-- END================= SERVICE BOX ===================-->
                <!-- ==================== SERVICE BOX ===================-->
                <div class="col-sm-6 col-md-3">
                    <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                        <div class="figure"><a href="states_cities"><img src="./assets/images/strive-cardiology.png" height="100" alt="service"></a></div>
                        <div class="content">
                            <div class="hgroup">
                                <h4>Pharmacy Tech Jobs</h4>
                            </div>
                            <div class="desc">
                                <p>Work under the supervision of a licensed pharmacist and are responsible for dispensing medications. Training for a pharmacy technician job is available. </p>
                            </div>
                            <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                        </div>
                    </div>
                </div>
                <!-- END================= SERVICE BOX ===================-->
                <!-- ==================== SERVICE BOX ===================-->
                <div class="col-sm-6 col-md-3">
                    <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                        <div class="figure"><img src="./assets/images/strive-dna.png" height="100" alt="service"></div>
                        <div class="content">
                            <div class="hgroup">
                                <h4>Entry Level Jobs</h4>
                            </div>
                            <div class="desc">
                                <p>There are several options for behind the scene entry level medical jobs that require varying levels of education and range in their required duties. </p>
                            </div>
                            <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
      </div>