@page
@model HospitalOpenings.Pages.hospitalapplicationModel
@{
    ViewData["Title"] = "Hospital Application ";
}

<div class="brand-colors"></div>

<div class="head_panel parallax-window">
    <div style="background-image: url('./assets/images/slider-3.jpg')" class="full_width_photo">
        <div class="hgroup">
            <div class="title diagonal-bgcolor-trans">
                <div class="container">
                    <h1>Application</h1>
                </div>
            </div>
            <div class="subtitle body-bg_section">
                <div class="container">
                    <p class="uppercase">
                        Hospital Hiring
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">




    <section>
        <div class="container">
            <div class="section-content">
                <div class="row">


                    <div class="col-md-12">

                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1">
                                <h3>Hospital Job Applications</h3>
                                <h4>Hospital Application Checklist</h4>
                                <p><strong>Some large firms government agencies, and hospital</strong> use their own application forms rather than resumes (or in addition to them) to evaluate prospective candidates. The application's uniform structure helps the evaluator fins the information he or she needs and allows for easy comparisons between candidates. Because applications don't let you present your qualifications the way you typically would, you should plan ahead of time how to present them under the categories most applications contain.</p><br>

                                <h4>Job Application Tips</h4>
                                <p><strong>When completing an application, keep in mind the following tips:  </strong></p>
                                <p><strong>Ask for two copies of the application. </strong>That way you can use one copy to prepare a first draft. And, if you make a mistake, you can use a second form. Whenever possible, make a copy for your own files.</p><br>
                                <p><strong>Read it before you complete it. </strong>Familiarize yourself with the form so that you can relate it to sections in your resume. Then you can use your resume as a reference source.</p>
                                <p><strong>When possible, complete the application at home and photocopy it.  </strong></p>
                                <p><strong>Use a typewriter or print neatly in dark blue or black ink.</strong></p><br>

                                <h4>Processing Guidelines</h4>
                                <p><strong>When you are applying for several positions in the same hospital or company,</strong> you can leave the specific job title blank. Do not leave any other blanks on the application. If a question is not relevant to you, write N/A (not applicable) in the space provided.</p>
                                <p><strong>Sometime you must fill out an application at the employment site, </strong> so be sure to take a copy of your resume with you. You might also find it useful to take a list of standard answers to commonly asked questions. Be sure to take a dark-blue or black-ink pen and your complete list of references, along with their address and phone numbers.</p>
                                <p><strong>As with your resume,  </strong> the answers you provide on an application form should be direct, accurate, and hosest.</p>


                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                            <div class="figure"><img src="./assets/images/strive-test.png" height="100" alt="service"></div>
                            <div class="content">
                                <div class="hgroup">
                                    <h4>Nursing Jobs</h4>
                                </div>
                                <div class="desc">
                                    <p>
                                        Registered nurses (RNs) care for patients by treating and educating them about various medical ailments. The largest group of RNs work as staff nurses in hospitals

                                    </p>
                                </div>
                                <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                            </div>
                        </div>
                    </div>
                    <!-- ==================== SERVICE BOX ===================-->
                    <div class="col-sm-6 col-md-3">
                        <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                            <div class="figure"><a href="states_cities"><img src="./assets/images/strive-lungs.png" height="100" alt="service"></a></div>
                            <div class="content">
                                <div class="hgroup">
                                    <h4>Doctor Jobs </h4>
                                </div>
                                <div class="desc">
                                    <p>From 2014 to 2024, the U.S. Bureau of Labor Statistics (BLS) expected job opportunities for physicians and surgeons to increase by 14%, much faster than that of most other occupations </p>
                                </div>
                                <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>MORE</strong>  </a></div>
                            </div>
                        </div>
                    </div>
                    <!-- END================= SERVICE BOX ===================-->
                    <!-- ==================== SERVICE BOX ===================-->
                    <div class="col-sm-6 col-md-3">
                        <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                            <div class="figure"><a href="states_cities"><img src="./assets/images/strive-cardiology.png" height="100" alt="service"></a></div>
                            <div class="content">
                                <div class="hgroup">
                                    <h4>Pharmacy Tech Jobs</h4>
                                </div>
                                <div class="desc">
                                    <p>Work under the supervision of a licensed pharmacist and are responsible for dispensing medications. Training for a pharmacy technician job is available. </p>
                                </div>
                                <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                            </div>
                        </div>
                    </div>
                    <!-- END================= SERVICE BOX ===================-->
                    <!-- ==================== SERVICE BOX ===================-->
                    <div class="col-sm-6 col-md-3">
                        <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                            <div class="figure"><img src="./assets/images/strive-dna.png" height="100" alt="service"></div>
                            <div class="content">
                                <div class="hgroup">
                                    <h4>Entry Level Jobs</h4>
                                </div>
                                <div class="desc">
                                    <p>There are several options for behind the scene entry level medical jobs that require varying levels of education and range in their required duties. </p>
                                </div>
                                <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




</div>