@page
@model HospitalOpenings.Pages.hospitaltypesModel
@{
    ViewData["Title"] = "Hospital Types ";
}

<div class="brand-colors"></div>
<div class="head_panel parallax-window">
    <div style="background-image: url('./assets/images/slider-6.jpg')" class="full_width_photo">
        <div class="hgroup">
            <div class="title diagonal-bgcolor-trans">
                <div class="container">
                    <h1>Hospital Types</h1>
                </div>
            </div>
            <div class="subtitle body-bg_section">
                <div class="container">
                    <p class="uppercase">
                        Medical Jobs
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">




    <section>
        <div class="container">
            <div class="section-content">
                <div class="row">


                    <div class="col-md-12">
                        <div class="horizontal-tab product-tab">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
                                <li><a href="#tab2" data-toggle="tab">Additional Information</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1">
                                    <div class="row">
                                        <div class="column" style="background-color:#eef3f6;">
                                            <h5>Diagnosing and Treating Practitioners</h5>
                                            Chiropractors<br>
                                            Dentists <br>
                                            Optometrists<br>
                                            Physicians <br>
                                            Podiatrists<br>
                                            Veterinarians <br><br>

                                            <h5>Associated Health-Care Careers</h5>
                                            Dental Hygienists <br>
                                            Dietitians<br>
                                            Genetic Counselors <br>
                                            Licensed Practical Nurses <br>
                                            Nurse Anesthetists <br>
                                            Nurse-Midwives <br>
                                            Nurse Practitioners <br>
                                            Nutritionists<br>
                                            Pharmacists<br>
                                            Physician Assistants <br>
                                            Registered Nurses <br>
                                            Surgeon Assistants <br><br>

                                            <h5>Adjunctive Health-Care Careers: Technologists, Technicians, Assistants, and Aides </h5>
                                            Anesthesiologist Assistants <br>
                                            Blood Bank Technologists and Specialists<br>
                                            Cardiovascular Technology Personnel<br>
                                            Clinical Laboratory Technicians <br>
                                            Clinical Laboratory Technologists <br>
                                            Cytotechnologists <br>
                                            Dental Assistants <br>
                                            Dental Laboratory Technicians <br>
                                            Diagnostic Medical Sonographers <br>
                                            Dietetic Technicians <br>
                                            Electroencephalograph Technicians <br>
                                            Electroencephalograph Technologists <br>
                                            Emergency Medical Technicians<br>
                                            Food Technologists <br>
                                            Histology Technicians <br>
                                            Mental Health Assistants <br>
                                            Nuclear Medicine Technologists<br>
                                            Nurse's Aides 244<br>
                                            Ophthalmic Assistants <br>
                                            Ophthalmic Laboratory Technicians <br>
                                            Ophthalmic Technicians<br>
                                            Ophthalmic Technologists <br>
                                            Opticians253<br>
                                            Optometric Assistants<br>
                                            Optometric Technicians <br>
                                            Orthoptists 259<br>
                                            Orthotists and Prosthetists<br>
                                            Perfusionists 264<br>
                                            Pharmacy Technicians <br>
                                            Phlebotomists272<br>
                                            Pulmonary Function Technologists <br>
                                            Radiation Therapy Technologists <br>
                                            Radiological Technologists <br>
                                            Surgical Technologists <br>
                                            Veterinary Assistants <br>
                                        </div>
                                        <div class="column" style="background-color:#f6f6f6;">
                                            <h5>
                                                Rehabilitation Careers: Therapists,
                                                Therapy Assistants, and Aides
                                            </h5>
                                            Art Therapists <br>
                                            Dance/Movement Therapists<br>
                                            Home Health Aides <br>
                                            Horticultural Therapists<br>
                                            Music Therapists <br>
                                            Occupational Therapists <br>
                                            Occupational Therapy Assistants <br>
                                            Patient Representatives <br>
                                            Physical Therapists <br>
                                            Physical Therapy Assistants <br>
                                            Psychiatric Aides <br>
                                            Recreational Therapists <br>
                                            Rehabilitation Counselors <br>
                                            Respiratory Therapists <br>
                                            Respiratory Therapy Aides <br>
                                            Respiratory Therapy Technicians <br>
                                            Social Service Aides <br>
                                            Speech-Language Pathologists and Audiologists <br>
                                            Substance Abuse Counselors<br>

                                            <h5>Administrative Health-Care Careers</h5>
                                            Admitting Officers <br>
                                            Coordinators of Health Wellness <br>
                                            Directors of Hospital Public Relations<br>
                                            Directors                 of Nursing Home Activities <br>
                                            Directors of Quality Assurance<br>
                                            Directors of Volunteer Services<br>
                                            Geriatric Care Managers<br>

                                            <h5>Affiliated Health-Care Careers: Medical Scientists, Educators, and Information Workers </h5>
                                            Biomedical Engineers <br>
                                            Biomedical Equipment Technicians <br>
                                            Biomedical Photographers<br>
                                            Biomedical Writers <br>
                                            Certified Athletic Trainers <br>
                                            Child Life Specialists <br>
                                            Dietary Managers <br>
                                            Environmental Health Scientists<br>
                                            Food Service Workers<br>
                                            Geriatric Social Workers<br>
                                            Health Educators<br>
                                            Health Information Technicians <br>
                                            Health Sciences Librarians<br>
                                            Health Services Administrators <br>
                                            Health Sociologists <br>
                                            Instructors for the Blind <br>
                                            Medical and Psychiatric Social Workers <br>
                                            Medical Illustrators <br>
                                            Medical Secretaries <br>
                                            Mental Health Workers <br>

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab2">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th>Company</th>
                                                <td><p>InTekOne, LLC</p></td>
                                            </tr>
                                            <tr>
                                                <th>Central Location</th>
                                                <td><p>Bowie, Maryland</p></td>
                                            </tr>
                                            <tr>
                                                <th>Licensed</th>
                                                <td><p>Since 2002</p></td>
                                            </tr>
                                            <tr>
                                                <th>Industry</th>
                                                <td>Hosptial and Medical</td>
                                            </tr>
                                            <tr>
                                                <th>Focus</th>
                                                <td>Medical Services/Jobs</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

<section>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                        <div class="figure"><img src="./assets/images/strive-test.png" height="100" alt="service"></div>
                        <div class="content">
                            <div class="hgroup">
                                <h4>Nursing Jobs</h4>
                            </div>
                            <div class="desc">
                                <p>
                                    Registered nurses (RNs) care for patients by treating and educating them about various medical ailments. The largest group of RNs work as staff nurses in hospitals

                                </p>
                            </div>
                            <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                        </div>
                    </div>
                </div>
                <!-- ==================== SERVICE BOX ===================-->
                <div class="col-sm-6 col-md-3">
                    <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                        <div class="figure"><a href="states_cities"><img src="./assets/images/strive-lungs.png" height="100" alt="service"></a></div>
                        <div class="content">
                            <div class="hgroup">
                                <h4>Doctor Jobs </h4>
                            </div>
                            <div class="desc">
                                <p>From 2014 to 2024, the U.S. Bureau of Labor Statistics (BLS) expected job opportunities for physicians and surgeons to increase by 14%, much faster than that of most other occupations </p>
                            </div>
                            <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>MORE</strong>  </a></div>
                        </div>
                    </div>
                </div>
                <!-- END================= SERVICE BOX ===================-->
                <!-- ==================== SERVICE BOX ===================-->
                <div class="col-sm-6 col-md-3">
                    <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                        <div class="figure"><a href="states_cities"><img src="./assets/images/strive-cardiology.png" height="100" alt="service"></a></div>
                        <div class="content">
                            <div class="hgroup">
                                <h4>Pharmacy Tech Jobs</h4>
                            </div>
                            <div class="desc">
                                <p>Work under the supervision of a licensed pharmacist and are responsible for dispensing medications. Training for a pharmacy technician job is available. </p>
                            </div>
                            <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                        </div>
                    </div>
                </div>
                <!-- END================= SERVICE BOX ===================-->
                <!-- ==================== SERVICE BOX ===================-->
                <div class="col-sm-6 col-md-3">
                    <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                        <div class="figure"><img src="./assets/images/strive-dna.png" height="100" alt="service"></div>
                        <div class="content">
                            <div class="hgroup">
                                <h4>Entry Level Jobs</h4>
                            </div>
                            <div class="desc">
                                <p>There are several options for behind the scene entry level medical jobs that require varying levels of education and range in their required duties. </p>
                            </div>
                            <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




      </div>