@page
@model IndexModel
@{
    ViewData["Title"] = "Hospital Job Openings ";
}

<div class="brand-colors"></div>
<div class="head_panel">
    <!-- ============================ SLIDER ==========================-->
    <div class="slider_wrapper">
        <div id="head_panel_slider" class="owl-carousel">
            <!-- ============================ SLIDE ==========================-->
            <div class="stretchy-wrapper ratio_slider">
                <div style="background-image: url(./assets/images/slider-4.jpg);" aria-hidden="true" class="item">
                    <div class="container">
                        <div class="caption caption-right caption-flat">
                            <div class="inner black_section transparent-film animated bounceInUp">
                                <div class="t1">FIND QUALITY JOBS</div>
                                <div class="t2">Provided for everyone!</div>
                                <p class="desc">Quality employment openings and medical jobs, for every medical opportunity and fields, state-by-state and by local hospitals.</p>
                                <!--p
                                br
                                a(href="#").btn.btn-primary Learn more

                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END========================= SLIDE ==========================-->
            <!-- ============================ SLIDE  ==========================-->
            <div class="stretchy-wrapper ratio_slider">
                <div style="background-image: url(./assets/images/slider-3.jpg);" aria-hidden="true" class="item">
                    <div class="container">
                        <div class="caption caption-left caption-fancy">
                            <div class="inner black_section transparent-film animated bounceInUp">
                                <div class="t1 uppercase">Hospital</div>
                                <div class="t2 uppercase">Top Employment</div>
                                <div class="t3 uppercase">By a hospital that are right near you.</div>
                                <p class="desc">
                                    Currently There's a Need for new people. Hiring Organizations have placed a premium on New Openings.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END========================= SLIDE ==========================           -->
        </div>
    </div>
    <!-- END========================= SLIDER ==========================-->
</div>
<!--include templates/headpanel-slider-full-height-->
<div class="main">

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 section_header fancy centered">
                    <h2>Hospital Openings Jobs</h2>
                    <p class="uppercase">from top rated hospitals and centers      </p>
                    <p class="uppercase"><a href="states.html" class="btn btn-sm btn-primary">States By States</a></p>
                </div>
                <!-- ========================= SERVICES ========================-->
                <div class="col-sm-6 col-md-3">
                    <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                        <div class="figure"><img src="./assets/images/strive-test.png" height="100" alt="service"></div>
                        <div class="content">
                            <div class="hgroup">
                                <h4>Nursing Jobs</h4>
                            </div>
                            <div class="desc">
                                <p>
                                    Registered nurses (RNs) care for patients by treating and educating them about various medical ailments. The largest group of RNs work as staff nurses in hospitals

                                </p>
                            </div>
                            <div class="link"><a href="states.html" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                        </div>
                    </div>
                </div>
                <!-- ==================== SERVICE BOX ===================-->
                <div class="col-sm-6 col-md-3">
                    <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                        <div class="figure"><a href="services.html"><img src="./assets/images/strive-lungs.png" height="100" alt="service"></a></div>
                        <div class="content">
                            <div class="hgroup">
                                <h4>Doctor Jobs </h4>
                            </div>
                            <div class="desc">
                                <p>From 2014 to 2024, the U.S. Bureau of Labor Statistics (BLS) expected job opportunities for physicians and surgeons to increase by 14%, much faster than that of most other occupations </p>
                            </div>
                            <div class="link"><a href="states.html" class="btn btn-sm btn-primary"><strong>MORE</strong>  </a></div>
                        </div>
                    </div>
                </div>
                <!-- END================= SERVICE BOX ===================-->
                <!-- ==================== SERVICE BOX ===================-->
                <div class="col-sm-6 col-md-3">
                    <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                        <div class="figure"><a href="services.html"><img src="./assets/images/strive-cardiology.png" height="100" alt="service"></a></div>
                        <div class="content">
                            <div class="hgroup">
                                <h4>Pharmacy Tech Jobs</h4>
                            </div>
                            <div class="desc">
                                <p>Work under the supervision of a licensed pharmacist and are responsible for dispensing medications. Training for a pharmacy technician job is available. </p>
                            </div>
                            <div class="link"><a href="states.html" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                        </div>
                    </div>
                </div>
                <!-- END================= SERVICE BOX ===================-->
                <!-- ==================== SERVICE BOX ===================-->
                <div class="col-sm-6 col-md-3">
                    <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                        <div class="figure"><img src="./assets/images/strive-dna.png" height="100" alt="service"></div>
                        <div class="content">
                            <div class="hgroup">
                                <h4>Entry Level Jobs</h4>
                            </div>
                            <div class="desc">
                                <p>There are several options for behind the scene entry level medical jobs that require varying levels of education and range in their required duties. </p>
                            </div>
                            <div class="link"><a href="states.html" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                        </div>
                    </div>
                </div>
                <!-- END================= SERVICE BOX ===================-->
                <!-- END========================= SERVICES ========================-->
            </div>
        </div>
    </section><p></p>

        <section class="no_padding no_cols_padding transparent elevate">
            <div class="container">
                <div class="row">
                    <!-- ========================= ENTRY ========================-->
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="entry skincolored_section">
                            <a href="physicianboards.html">
                                <div style="background-image:url(./assets/images/entry-001.jpg);" class="entry_photo stretchy-wrapper ratio_15-9"></div>
                                <div class="entry_text">PHYSICIAL BOARD</div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="entry secondary_section">
                            <a href="hospitalguide.html">
                                <div style="background-image:url(./assets/images/entry-003.jpg);" class="entry_photo stretchy-wrapper ratio_15-9"></div>
                                <div class="entry_text">MEDICAL GUIDE</div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="entry skincolored_section">
                            <a href="nursingboards.html">
                                <div style="background-image:url(./assets/images/entry-005.jpg);" class="entry_photo stretchy-wrapper ratio_15-9"></div>
                                <div class="entry_text">NURSING BOARD</div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="entry secondary_section">
                            <a href="portfolio.html">
                                <div style="background-image:url(./assets/images/entry-002.jpg);" class="entry_photo stretchy-wrapper ratio_15-9"></div>
                                <div class="entry_text">INTERVIEWING TIPS</div>
                            </a>
                        </div>
                    </div>
                    <!-- END====================== ENTRY ========================-->
                </div>
            </div>
        </section>







        <section id="news" class="dark_section particles-js">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-grid compact">
                            <div class="row">
                                <div class="col-md-12">
                                    <article class="post">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <figure><a href="./single.html" title="Post"><img src="./assets/images/pricing-001.jpg" alt="image-desc"></a></figure>
                                            </div>
                                            <div class="col-md-8">
                                                <h2 class="post_title"><a href="./single.html">Medical Career Information</a></h2>
                                            <p class="post_subtitle">From 2014 to 2024, the U.S. Bureau of Labor Statistics (BLS) expected job opportunities for physicians and surgeons to increase by 14%,   </p>
                                            <p>much faster than that of most other occupations, as existing doctors retire and a growing population demands more medical services. Low-income and rural areas were projected to have an especially high demand for doctors. Cardiologists and radiologists might find particularly strong career opportunities due to a rising elderly population and increase in the risk of cancer and heart disease. </p><br><a href="physicianboards.html" class="btn btn-success with-icon">Read More<i class="fa fa-caret-right"></i></a><a href="states.html" class="btn btn-primary with-icon">State By State<i class="fa fa-caret-right">                   </i></a>
                                            </div>
                                          </div>
                                      </article>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>
