@page
@model HospitalOpenings.Pages.interviewtipsModel
@{
    ViewData["Title"] = "Interview Tips  ";
}

<div class="brand-colors"></div>

<div class="head_panel parallax-window">
    <div style="background-image: url('./assets/images/slider-4.jpg')" class="full_width_photo">
        <div class="hgroup">
            <div class="title diagonal-bgcolor-trans">
                <div class="container">
                    <h1>Interview Tips</h1>
                </div>
            </div>
            <div class="subtitle body-bg_section">
                <div class="container">
                    <p class="uppercase">
                        Hospital Hiring
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">




    <section>
        <div class="container">
            <div class="section-content">
                <div class="row">


                    <div class="col-md-12">
                        <div class="horizontal-tab product-tab">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
                                <li><a href="#tab2" data-toggle="tab">Additional Information</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1">
                                    <h3>Interview Tips. Basics of Hospital Jobs</h3>
                                    <h4>How To Obtain a Hospital  Job ... Quickly, Easily, And Effectively With Little Possible Effort Basics of Hospital Jobs</h4>
                                    <p><strong>Once the human resources department receives your resume </strong>and/or application, the staff will review your skills and qualifications. If an opening is available that matches your competencies, they will contact you to schedule an interview. In order to prepare for your interview we suggest the following:</p><br>


                                    <p><strong>Prepare to provide  </strong>your social security number.</p>
                                    <p><strong>Prepare to provide  </strong>professional reference information to the interviewer. (e.g. copies of evaluations from present or past employers and letters of reference from present or past supervisors.)</p><br>
                                    <p><strong>Record the name of the person </strong> who will be conducting the interview, the location of the interview and the date and time.</p>
                                    <p><strong>Prepare for the interview by learning </strong>about the organization beforehand. </p>
                                    <p><strong>Arrive to the interview on time</strong>-preferably 15 minutes early.</p>
                                    <p><strong>Be polite, courteous and demonstrate flexibility</strong> if asked to provide information or complete any information that is missing.</p>
                                    <p><strong>The recruiters look for specialized skills and knowledge,</strong> as well as personal qualities that would benefit you if you were hired. Motivation, professionalism, flexibility, and self-confidence are some examples of the qualities that we look for when interviewing job candidates.</p>


                                </div>
                                <div class="tab-pane fade" id="tab2">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th>Company</th>
                                                <td><p>InTekOne, LLC</p></td>
                                            </tr>
                                            <tr>
                                                <th>Central Location</th>
                                                <td><p>Bowie, Maryland</p></td>
                                            </tr>
                                            <tr>
                                                <th>Licensed</th>
                                                <td><p>Since 2002</p></td>
                                            </tr>
                                            <tr>
                                                <th>Industry</th>
                                                <td>Hosptial and Medical</td>
                                            </tr>
                                            <tr>
                                                <th>Focus</th>
                                                <td>Medical Services/Jobs</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                        <div class="figure"><img src="./assets/images/strive-test.png" height="100" alt="service"></div>
                        <div class="content">
                            <div class="hgroup">
                                <h4>Nursing Jobs</h4>
                            </div>
                            <div class="desc">
                                <p>
                                    Registered nurses (RNs) care for patients by treating and educating them about various medical ailments. The largest group of RNs work as staff nurses in hospitals

                                </p>
                            </div>
                            <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                        </div>
                    </div>
                </div>
                <!-- ==================== SERVICE BOX ===================-->
                <div class="col-sm-6 col-md-3">
                    <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                        <div class="figure"><a href="states_cities"><img src="./assets/images/strive-lungs.png" height="100" alt="service"></a></div>
                        <div class="content">
                            <div class="hgroup">
                                <h4>Doctor Jobs </h4>
                            </div>
                            <div class="desc">
                                <p>From 2014 to 2024, the U.S. Bureau of Labor Statistics (BLS) expected job opportunities for physicians and surgeons to increase by 14%, much faster than that of most other occupations </p>
                            </div>
                            <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>MORE</strong>  </a></div>
                        </div>
                    </div>
                </div>
                <!-- END================= SERVICE BOX ===================-->
                <!-- ==================== SERVICE BOX ===================-->
                <div class="col-sm-6 col-md-3">
                    <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                        <div class="figure"><a href="states_cities"><img src="./assets/images/strive-cardiology.png" height="100" alt="service"></a></div>
                        <div class="content">
                            <div class="hgroup">
                                <h4>Pharmacy Tech Jobs</h4>
                            </div>
                            <div class="desc">
                                <p>Work under the supervision of a licensed pharmacist and are responsible for dispensing medications. Training for a pharmacy technician job is available. </p>
                            </div>
                            <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                        </div>
                    </div>
                </div>
                <!-- END================= SERVICE BOX ===================-->
                <!-- ==================== SERVICE BOX ===================-->
                <div class="col-sm-6 col-md-3">
                    <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                        <div class="figure"><img src="./assets/images/strive-dna.png" height="100" alt="service"></div>
                        <div class="content">
                            <div class="hgroup">
                                <h4>Entry Level Jobs</h4>
                            </div>
                            <div class="desc">
                                <p>There are several options for behind the scene entry level medical jobs that require varying levels of education and range in their required duties. </p>
                            </div>
                            <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
      