@page
@model HospitalOpenings.Pages.licensingboardsModel
@{
    ViewData["Title"] = "License Board ";
}

<div class="brand-colors"></div>

<div class="head_panel parallax-window">
    <div style="background-image: url('./assets/images/slider-3.jpg')" class="full_width_photo">
        <div class="hgroup">
            <div class="title diagonal-bgcolor-trans">
                <div class="container">
                    <h1>Licensing Board</h1>
                </div>
            </div>
            <div class="subtitle body-bg_section">
                <div class="container">
                    <p class="uppercase">Hospital Info and Employment</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">



    <section class="vcenter">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="bs-component">
                        <div class="list-group">
                            <a href="#" class="list-group-item active">NURSING</a>
                            <a href="nursingboards.html" class="list-group-item">Nursing Boards</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bs-component">
                        <div class="list-group">
                            <a href="#" class="list-group-item active">PHYSICIAN</a>
                            <a href="#" class="list-group-item">Physician Boards</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bs-component">
                        <div class="list-group">
                            <a href="#" class="list-group-item active">ALLIED HEALTH</a>
                            <a href="#" class="list-group-item">Emergency Medical Technician Boards</a>
                            <a href="#" class="list-group-item">Dietician Boards</a>
                            <a href="#" class="list-group-item">Pharmacy Boards</a>
                            <a href="#" class="list-group-item">Physical Therapy Boards</a>
                            <a href="#" class="list-group-item">Radiology Boards</a>
                            <a href="#" class="list-group-item">Respiratory Boards</a>
                            <a href="#" class="list-group-item">Social Service Boards</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section>
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                            <div class="figure"><img src="./assets/images/strive-test.png" height="100" alt="service"></div>
                            <div class="content">
                                <div class="hgroup">
                                    <h4>Nursing Jobs</h4>
                                </div>
                                <div class="desc">
                                    <p>
                                        Registered nurses (RNs) care for patients by treating and educating them about various medical ailments. The largest group of RNs work as staff nurses in hospitals

                                    </p>
                                </div>
                                <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                            </div>
                        </div>
                    </div>
                    <!-- ==================== SERVICE BOX ===================-->
                    <div class="col-sm-6 col-md-3">
                        <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                            <div class="figure"><a href="states_cities"><img src="./assets/images/strive-lungs.png" height="100" alt="service"></a></div>
                            <div class="content">
                                <div class="hgroup">
                                    <h4>Doctor Jobs </h4>
                                </div>
                                <div class="desc">
                                    <p>From 2014 to 2024, the U.S. Bureau of Labor Statistics (BLS) expected job opportunities for physicians and surgeons to increase by 14%, much faster than that of most other occupations </p>
                                </div>
                                <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>MORE</strong>  </a></div>
                            </div>
                        </div>
                    </div>
                    <!-- END================= SERVICE BOX ===================-->
                    <!-- ==================== SERVICE BOX ===================-->
                    <div class="col-sm-6 col-md-3">
                        <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                            <div class="figure"><a href="states_cities"><img src="./assets/images/strive-cardiology.png" height="100" alt="service"></a></div>
                            <div class="content">
                                <div class="hgroup">
                                    <h4>Pharmacy Tech Jobs</h4>
                                </div>
                                <div class="desc">
                                    <p>Work under the supervision of a licensed pharmacist and are responsible for dispensing medications. Training for a pharmacy technician job is available. </p>
                                </div>
                                <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                            </div>
                        </div>
                    </div>
                    <!-- END================= SERVICE BOX ===================-->
                    <!-- ==================== SERVICE BOX ===================-->
                    <div class="col-sm-6 col-md-3">
                        <div class="teaser_box centered same_height_col white_section boxed boxed-special">
                            <div class="figure"><img src="./assets/images/strive-dna.png" height="100" alt="service"></div>
                            <div class="content">
                                <div class="hgroup">
                                    <h4>Entry Level Jobs</h4>
                                </div>
                                <div class="desc">
                                    <p>There are several options for behind the scene entry level medical jobs that require varying levels of education and range in their required duties. </p>
                                </div>
                                <div class="link"><a href="states_cities" class="btn btn-sm btn-primary"><strong>DETAILS</strong>  </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>