@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Keywords"] = "jobs, employment";
    ViewData["Description"] = "Privacy Policy is our number one policy.";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["MyString"]</h2>
<p>The answer to everything is @ViewData["MyNumber"]</p>

<p>Use this page to detail your site's privacy policy.</p>
